<section id="about" class="about section">

    <div class="container section-title" data-aos="fade-up">
      <span class="my-shadow">دورة حساب كميات<br></span>
      <h2 class="">دورة حساب كميات<br></h2>
      <p>ازاي تبقي حاسب كميات شاطر وملم بكل التفاصيل اللي هتحتاجها في شغلك الفترة اللي جايه 
        في البناء بتدرب وبتتعلم علي أيدي خبراء وناس في المجال من سنين كتير
        وبتتأهل فعلا لسوق العمل مش مجرد كورس وخلاص
        </p>
    </div>

    <div class="container">

      <div class="row gy-4">

        <div class="col-lg-6 order-1 order-lg-2" data-aos="fade-up" data-aos-delay="100">
          <img src="assets/img/about.jpg" class="img-fluid" alt="">
        </div>

        <div class="col-lg-6 order-2 order-lg-1 content" data-aos="fade-up" data-aos-delay="200">
       
          <ul>
           
            <li><i class="bi bi-check-circle"></i> <span> تعلم مفاهيم المسح الكمي وأعمال حفر تسوية الموقع والقيام بمختلف عمليات حساب كميات المواد وأعمال المشاريع .</span></li>
            <li><i class="bi bi-check-circle"></i> <span> تعلم كيفية حساب كمية أعمال الحفر وحصر كمية الردم وكذلك حساب تكاليف البناء وتقييم المشاريع .</span></li>
            <li><i class="bi bi-check-circle"></i> <span> تعلم كيفية حساب أعمال الحفر, كميات الخرسانة للأساسات, وكمية حديد التسليح للركائز وأعمدة الربط. </span></li>
            <li><i class="bi bi-check-circle"></i> <span> تعلم كيفية حساب كميات الخرسانة، وحديد التسليح للعناصر الانشائية في المباني .</span></li>
            <li><i class="bi bi-check-circle"></i> <span> تعزيز معرفة المشاركين بالمواصفات الفنية. </span></li>
            <li><i class="bi bi-check-circle"></i> <span>  تمكين المشاركين من قراءة وفهم وإنشاء المخططات المعمارية والإنشائية للأبنية .</span></li>
            <li><i class="bi bi-check-circle"></i> <span> اكتساب القدرة على تحضير جداول الكميات .</span></li>
            <li><i class="bi bi-check-circle"></i> <span> اكتساب مهارة إدارة المباني وتكلفة التصميم وإدارة العقود والمشتريات.  </span></li>
            <li><i class="bi bi-check-circle"></i> <span> تعلم المفاهيم الإدارية الأساسية التي ينبغي أن تكون معروفة للمهندسين المدنيين، وخاصة أولئك الذين يعملون كمهندسين للموقع. </span></li>
            <li><i class="bi bi-check-circle"></i> <span> تعلم كيفية حساب تشطيبات المباني من اعمال الطوب البلاط والالمنيوم والمنجور واعمال الحجر. </span></li>
            <li><i class="bi bi-check-circle"></i> <span> وذلك بالعمل علي كافة البرامج الحديثة في حساب الكميات .</span></li><br>


            <h6>تم تصميم دورة حساب الكميات بهدف تمكين المشاركين من القيام بمختلف عمليات حساب كميات المواد وأعمال المشاريع، حساب تكاليف البناء وتقييم المشاريع، تعزيز معرفتهم بالمواصفات الدولية، كما تهدف ايضا الى تمكينهم من قراءة وفهم وإنشاء المخططات المعمارية والإنشائية للأبنية، تحضير جداول الكميات، 
                إدارة المباني وتكلفة التصميم، وإدارة العقود والمشتريات. باللإضافة إلى تغطية المفاهيم الإدارية الأساسية التي ينبغي أن تكون معروفة للمهندسين المدنيين، وخاصة أولئك الذين يعملون كمهندسين للموقع.</h6><br>


                <h6>المدرب : مهندس مصطفي يحيي \ المده: شهر</h6>

    
   
          </ul>


       
        </div>

      </div>

    </div>

  </section><!-- /About Section -->