<section id="about" class="about section">

    <div class="container section-title" data-aos="fade-up">
      <span class="my-shadow"> كورس 3D-Max <br></span>
      <h2 class=""> كورس 3D-Max <br></h2>
      <P> برنامج الماكس بيقوم عليه شغل اغلب واكبر الشركات 
        وهتحتاجه معاك ك مهندس بشكل عام عشان تظهر شغلك بشكل اكثر واقعية لإن مشروعك بيكون 3D
        هنبدأ معاك من الصفر لحد المستوي الاحترافي 
        بداية من اختيار الجهاز اللى ممكن تشتغل عليه
        وتشتريه ازاى ومنين والمواصفات اللى هتحتاجها
        دلوقتى وفى المستقبل 
       </P>
    </div>

    <div class="container">

      <div class="row gy-4">

        <div class="col-lg-6 order-1 order-lg-2" data-aos="fade-up" data-aos-delay="100">
          <img src="assets/img/about.jpg" class="img-fluid" alt="">
        </div>

        <div class="col-lg-6 order-2 order-lg-1 content" data-aos="fade-up" data-aos-delay="200">
       
          <ul>
           

           <h5> وهنبدأ بتسطيب البرنامج وهنعدى بأربع مراحل مهمة:</h5>

           <li><i class="bi bi-check-circle"></i> <span> Modeling.</span></li>
           <li><i class="bi bi-check-circle"></i> <span> Material.</span></li>
           <li><i class="bi bi-check-circle"></i> <span> Lighting.</span></li>
           <li><i class="bi bi-check-circle"></i> <span> Material.</span></li>
           <li><i class="bi bi-check-circle"></i> <span> Lighting.</span></li>


           <li><i class="bi bi-check-circle"></i> <span> و بتشتغل render  vray طبعا و ده اهم حاجه حاليا 
            و بتقدر انك تطلع مشروع interior و exterior كامل
              وهنطبق عملي في كل خطوة لإننا هنعمل مع بعض مشاريعInterior & Exterior 
             وهتاخد Tasks على كل مرحلة وتطبق عليها
            </span></li>
   
          </ul>

          <h5>مدة الكورس :  16 محاضرة كل محاضره ساعتين </h5>

       
        </div>

      </div>

    </div>

  </section><!-- /About Section -->