<section id="about" class="about section">

    <div class="container section-title" data-aos="fade-up">
      <span class="my-shadow"> قسم الصحافه والاعلام  <br></span>
      <h2 class="">قسم الصحافه والاعلام <br></h2>
      <P>مركز البناء الدولي في قسم الصحافه والاعلام  يوفر تعليم متميز يحقق التنوع، ويهدف لنقل المعرفة مع
         الالتزام بمعايير جودة التعليم الإعلامي ويدرس المتدرب الاقسام الاتيه داخل قسم الاعلام </P>
    </div>

    <div class="container">

      <div class="row gy-4">

        <div class="col-lg-6 order-1 order-lg-2" data-aos="fade-up" data-aos-delay="100">
          <img src="assets/img/about.jpg" class="img-fluid" alt="">
        </div>

        <div class="col-lg-6 order-2 order-lg-1 content" data-aos="fade-up" data-aos-delay="200">
       
          <ul>
            <li><i class="bi bi-check-circle"></i> <span>قسم الصحافة والنشر الرقمي </span></li>
            <li><i class="bi bi-check-circle"></i> <span> قسم العلاقات العامة والاتصالات التسويقية</span></li>           
           <li><i class="bi bi-check-circle"></i> <span> قسم الراديو والتليفزيون</span></li>

           <h4> من أهم مميزات المركز :</h4>

           <li><i class="bi bi-check-circle"></i> <span> برامج و لوائح دراسية حديثة مواكبة لاحتياجات سوق العمل في مختلف التخصصات الاعلامية .</span></li>
           <li><i class="bi bi-check-circle"></i> <span> اعضاء هيئة التدريس على أعلى مستوي من الخبرات الأكاديمية.</span></li>
           <li><i class="bi bi-check-circle"></i> <span> تدريب للطلاب في كبرى الهيئات الصحفية والاعلامية من خلال شراكات مع العديد من المؤسسة الخاصة .</span></li>
           <li><i class="bi bi-check-circle"></i> <span>  عمل دورات  وورش عمل.</span></li>
           <li><i class="bi bi-check-circle"></i> <span> عمل ندوات وحلقات نقاشية مع صحافيين والاعلاميين في مختلف التخصصات.</span></li>
           <li><i class="bi bi-check-circle"></i> <span> بدء التدريب العملي ومحاكاة سوق العمل داخل استديوهات ومعامل تابعه للمركز منذ بداية التحاق الطالب بالمركز.</span></li>
           <li><i class="bi bi-check-circle"></i> <span> اتاحة التدريب الصيفي داخل مؤسسات اعلامية ومواقع اخبارية معتمدة وفقًا للعديد من بروتوكولات التعاون.</span></li>
           <li><i class="bi bi-check-circle"></i> <span> هنعلمك الكتابة والتحرير والإخراج والتصوير والإنتاج والإذاعة والتلفزيون.</span></li>
           <li><i class="bi bi-check-circle"></i> <span> هنعلمك كمان إزاي تكون صحفي محترف يقدر يوصل المعلومة للناس بطريقة صحيحة وموضوعية.</span></li>
           <li><i class="bi bi-check-circle"></i> <span> يتم تنظيم زيارات بشكل دوري لكبري المؤسسات الاعلامية مثل  (اليوم السابع، جريدة الوطن، تريند نيوز، القناة السابعة).</span></li>
           





          </ul>

        <h4>مجالات عمل الخريج:</h4>

        <ul>
            <li><i class="bi bi-check-circle"></i> <span>تصميم المواقع الإلكترونية، والكتابة الصحفية .</span></li>
            <li><i class="bi bi-check-circle"></i> <span> العلاقات العامة والتسويق في الشركات والمؤسسات و البنوك وشركات الإعلانات.</span></li>
            <li><i class="bi bi-check-circle"></i> <span> الإذاعة والتليفزيون كمخرج او مذيع أو معد برامج تليفزيونية أو إذاعية.</span></li>
            
          </ul>

        </div>

      </div>

    </div>

  </section><!-- /About Section -->