<section id="about" class="about section">

    <div class="container section-title" data-aos="fade-up">
      <span class="my-shadow">دبلومة إعداد مهندس موقع <br></span>
      <h2 class=""> دبلومة إعداد مهندس موقع <br></h2>
      <p>دلوقتى فى وجود التطور الكبير فى مجال التنفيذ والمشاريع الكبرى كان لازم نقدم كورس تنفيذ يليق بتطور سوق العمل ويؤهل المهندس قادر على المنافسة ومواجهة متطلبات الشركات و المشروعات بمستوى عالى و يكون عنده علم اكبر من معرفة الإستلامات والبنود الإعتيادية واكيد لما تعرف المحتوى هتفهم مدى الإختلاف عن اى دورة تنفيذ ممكن تشوفها .
        علشان كده بنقدملكم دبلومة فعلا هتعمل طفره كبيرة فى مجال التنفيذ باذن الله لاننا مهتمين بجزء اساسى ومهم جدا وهو جزء الأعمال الترابية والاساسات بالاضافه طبعا لجزء الأعمال الخرسانية الإعتيادية وأستلاماتها وضبط جودتها وكل بند بيتم شرح تنفيذه طبقا للكود والمواصفات وأصول الصناعة .
        محتوى التنفيذ ضخم بفضل الله وكمان فيديوهات من مشاريع حقيقية منفذه ولوحات من مكاتب استشارية كبرى.
        </p>
    </div>

    <div class="container">

      <div class="row gy-4">

        <div class="col-lg-6 order-1 order-lg-2" data-aos="fade-up" data-aos-delay="100">
          <img src="assets/img/about.jpg" class="img-fluid" alt="">
        </div>

        <div class="col-lg-6 order-2 order-lg-1 content" data-aos="fade-up" data-aos-delay="200">
       
          <ul>
           
            <h5>الإنشاءات :</h5>

            <li><i class="bi bi-check-circle"></i> <span> التعرف علي الموقع العام ومحاضر استلام الموقع  </span></li>
            <li><i class="bi bi-check-circle"></i> <span> اعمال الجسات  </span></li>
            <li><i class="bi bi-check-circle"></i> <span> اعمال الحفر  </span></li>
            <li><i class="bi bi-check-circle"></i> <span> اعمال الخرسانات </span></li>
            <li><i class="bi bi-check-circle"></i> <span> اعمال النجارة </span></li>
            <li><i class="bi bi-check-circle"></i> <span> اعمال الحدادة </span></li>
            <li><i class="bi bi-check-circle"></i> <span> اعمال تمديدات الكهرباء  </span></li>
            <li><i class="bi bi-check-circle"></i> <span> اعمال تمديدات خطوط الصرف </span></li>
            <li><i class="bi bi-check-circle"></i> <span> اعمال تمديدات خطوط التغذية </span></li>
            <li><i class="bi bi-check-circle"></i> <span> اعمال حساب الكميات </span></li>
            <li><i class="bi bi-check-circle"></i> <span> اعمال قصيات الردم والمباني  </span></li>
            <li><i class="bi bi-check-circle"></i> <span> اعمال التشطيبات ( محارة - تشطيب سباكة وكهرباء وتغذية - الدهانات - تشطيب الواجهات ) </span></li>
            <li><i class="bi bi-check-circle"></i> <span> اعمال الرفع Aspilt للتسليم النهائي للموقع </span></li>

            <h5>شبكات ومحطات التغذية والصرف :</h5>

            <li><i class="bi bi-check-circle"></i> <span> اعمال الجسات واختبارات التربة </span></li>
            <li><i class="bi bi-check-circle"></i> <span> لوحات المناسيب والميول </span></li>
            <li><i class="bi bi-check-circle"></i> <span> اعمال الرفع المساحي بإستخدام جهاز ال Total station </span></li>
            <li><i class="bi bi-check-circle"></i> <span> اعمال تمديد الخطوط وتصميم اللوحات </span></li>
            <li><i class="bi bi-check-circle"></i> <span> اعمال الحفر والمناسيب </span></li>
            <li><i class="bi bi-check-circle"></i> <span> المناهيل والغرف </span></li>
            <li><i class="bi bi-check-circle"></i> <span> تنزيل ولحام المواسير واعمال الدمك  </span></li>
            <li><i class="bi bi-check-circle"></i> <span> اعمال الرفع Aspilt للتسليم النهائي للموقع </span></li><br>



            <h6>اعمال الرفع Aspilt للتسليم النهائي للموقع</h6><br>
          <h6> محتاج يكون عندك خبرة مسبقة لانه بيبدأ معاك من الصفر حتى الأحتراف ولو عندك خبرة فعلا هيضيفلك ويفرق فى مستواك كتير جدا.</h6><br>
        <h6>شرح على لوحات من مشاريع حقيقية نفذها المحاضر موجودة بنسخة أوتوكاد  مع الكورس تقدر تحملها وتتابع منها </h6><br>
        <h6>دعم فنى قوى وجروب للمتابعة والاسئلة وعليه نقاشات مفيدة</h6><br>

        <h5>المدة : 3شهور يومين في الاسبوع </h5>


    
   
          </ul>


       
        </div>

      </div>

    </div>

  </section><!-- /About Section -->