<section id="about" class="about section">

    <div class="container section-title" data-aos="fade-up">
      <span class="my-shadow"> قسم المساحة والخرائط <br></span>
      <h2 class=""> قسم المساحة والخرائط<br></h2>
      <p>يعتبر واحد من اهم الاقسام اللي بنقدمها في مركز البناء الدولي 
        لان احنا عندنا مميزات بنتميز بيها عن غيرنا (علشان واخدين الرخصه الدائمة رقم 7 علي مستوي الجمهورية والاول علي مستوي الصعيد )
        </p>
    </div>

    <div class="container">

      <div class="row gy-4">

        <div class="col-lg-6 order-1 order-lg-2" data-aos="fade-up" data-aos-delay="100">
          <img src="assets/img/about.jpg" class="img-fluid" alt="">
        </div>

        <div class="col-lg-6 order-2 order-lg-1 content" data-aos="fade-up" data-aos-delay="200">
          <!-- <h3>أهــداف وأنشطه المؤسسة التي أنشأت لتحقيقها :</h3> -->
          <!-- <p class="fst-italic">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
            magna aliqua.
          </p> -->
          <ul>
            <li><i class="bi bi-check-circle"></i> <span>هتدرب علي ايدي مهندسين وأساتذة جامعات علي قدر كبير من الخبرة .</span></li>
            <li><i class="bi bi-check-circle"></i> <span>التدريب العملي داخل كبري شركات الإنشاءات والمقاولات وأعمال المساحة .</span></li>
            <li><i class="bi bi-check-circle"></i> <span> بتستلم خوذه وفيست وسيفتي وادوات ممارسه المهنه .</span></li>
            <li><i class="bi bi-check-circle"></i> <span> التدريب والشغل العملي هو محور الدراسه الأساسي .</span></li>
           
            
          </ul>

        <h4>ومتنساش الشهادات المعتمدة :</h4>

        <ul>
            <li><i class="bi bi-check-circle"></i> <span> شهادات خبره من التدريب العملي لقسم المساحه والخرائط .</span></li>
            <li><i class="bi bi-check-circle"></i> <span> التدعيم بالكورسات والمنح الخاصة بالمساحة والخرائط  .</span></li>
            
            
          </ul>

        </div>

      </div>

    </div>

  </section><!-- /About Section -->