<section id="about" class="about section">

    <div class="container section-title" data-aos="fade-up">
      <span class="my-shadow"> كورس المساحه <br></span>
      <h2 class=""> كورس المساحه <br></h2>
      <p>هتتعليم ع الاجهزة المساحية زى الميزان والتوتال وهتنزل عملي وتشتغل ع الاجهزة بنفسك</p>
    </div>

    <div class="container">

      <div class="row gy-4">

        <div class="col-lg-6 order-1 order-lg-2" data-aos="fade-up" data-aos-delay="100">
          <img src="assets/img/about.jpg" class="img-fluid" alt="">
        </div>

        <div class="col-lg-6 order-2 order-lg-1 content" data-aos="fade-up" data-aos-delay="200">
       
          <ul>
           

           <h5 class="mb-3"> شرح الأسس العلمية للهندسة المساحية :</h5>

           <p class="mb-3"> (التعريف بعلم المساحة - المساحة المستوية والجيودوسيه – أنظمة الإحداثيات – حسابات الزوايا والإنحراف _ والروبير والسلسله - مستوى المقارنة والميزانية الشبكية ).
            الاجهزه المساحيه ( الميزان - التوتال استيشن )
             </p><br>


             <h5 class="mb-3">شرح الأجهزة وأعمال الموقع :</h5>

             <p>(خطوات تنفيذ الميزانية الشبكية في الموقع– شرح الميزان وقراءة المناسيب – وزنة السقف والارضيات – استلام منسوب الحفر والاحلال - شرح التوتال ستيشن وخطوات الرفع والتوقيع – طرق استدعاء ونقل الداتا - متابعة تنفيذ اعمال الحفر والردم وتشغيل المعدات التقيلة -طرق الرفع والتوقيع ) </p>

             <p class="mb-3">كورس شامل فى البرامج المساحيه ( السوكيا لينك  - الاوتوكاد 2Dو3D  )</p>

             <h5 class="mb-3">شرح أعمال المكتب الفني  :</h5>

             <p class="mb-3">( حسابات الميزانية الشبكية والتحويل بين الأنظمة – حصر كميات الحفر والردم والفصل بين طبقات التربة
               – طرق نقل الداتا بين التوتال ستيشن والكمبيوتر – أنواع الملفات المساحية - شرح برنامج البرولينك – شرح برنامج سوكيا لينك - شرح برنامج الأوتوكاد – قراءات المخططات   )</p>

               <h5 class="mb-3">بعد إتمام الدورة هتكون قادر على :</h5>

           <li><i class="bi bi-check-circle"></i> <span> اجتياز اي انترفيو بأي شركة .</span></li>
           <li><i class="bi bi-check-circle"></i> <span> تشتغل مساح انشاءات في مجال المعمار .</span></li>
           <li><i class="bi bi-check-circle"></i> <span> تشتغل مساح طرق وميه وصرف وفي مجال البنية التحتيه .</span></li>
           <li><i class="bi bi-check-circle"></i> <span> تشتغل في المكتب الفني .</span></li>
           <li><i class="bi bi-check-circle"></i> <span> يعني تكون مساح شاطر في جميع المجالات .</span></li>

   
          <h5 class="mb-3">مميزات الدورة التدريبية :</h5>

          <li><i class="bi bi-check-circle"></i> <span> يمكنك الالتحاق بالنقابة العامة لمهندسي المساحة
و اجتياز اختبار قياس المهارة لدي وزارة القوي العاملة 
وبالتالي يمكنك تغير المسمى الوظيفى فى البطاقة الشخصية
.</span></li>
          <li><i class="bi bi-check-circle"></i> <span> شهادة الدورة معتمدة رسميا للعمل بها داخل وخارج الجمهورية 
بتستلم شهاده بتكون شهاده موثقة من المؤسسة بالتدريب المهني في مجال المساحة
وبتستلم شهادة بتكون شهادة بالعمل والتدريب في مجال المساحة وبتكون موثقة في الشهر العقاري 
.</span></li>

<li><i class="bi bi-check-circle"></i> <span> بيتم التدريب على احدث الأجهزة والبرامج المساحيه .</span></li>
<li><i class="bi bi-check-circle"></i> <span> بيتم التدريب على أيدى مهندسين مختصين في مجال المساحه العاملين في كبرى الشركات داخل وخارج جمهوريه مصر العربيه.</span></li>


         
<h5>عدد المتدربين في المجموعة الواحدة لايزيد عن10 أشخاص لسهوله الإستيعاب مده الدراسة شهر.</h5>




</ul>


          

       
        </div>

      </div>

    </div>

  </section><!-- /About Section -->