<section id="team" class="team section">

    <!-- Section Title -->
    <div class="container section-title" data-aos="fade-up">
      <span class="my-shadow">الاخبار</span>
      <h2>الاخبار</h2>
    </div><!-- End Section Title -->

    <div class="container">

      <div class="row">

        <div class="col-lg-4 col-md-6 d-flex" data-aos="fade-up" data-aos-delay="100">
          <div class="member">
            <img src="assets/img/team/team-2.jpg" class="img-fluid" alt="" >
            <div class="member-content">
              <h4>Walter White</h4>
              <!-- <span>Marketing</span> -->
              <p>
                Magni qui quod omnis unde et eos fuga et exercitationem. Odio veritatis perspiciatis quaerat qui aut aut aut
              </p>
            
            </div>
          </div>
        </div>


        <div class="col-lg-4 col-md-6 d-flex" data-aos="fade-up" data-aos-delay="100">
            <div class="member">
              <img src="assets/img/team/team-3.jpg" class="img-fluid" alt="">
              <div class="member-content">
                <h4>Walter White</h4>
                <p>
                  Magni qui quod omnis unde et eos fuga et exercitationem. Odio veritatis perspiciatis quaerat qui aut aut aut
                </p>
              
              </div>
            </div>
          </div><!-- End Team Member -->


          <div class="col-lg-4 col-md-6 d-flex" data-aos="fade-up" data-aos-delay="100">
            <div class="member">
              <img src="assets/img/team/team-1.jpg" class="img-fluid" alt="">
              <div class="member-content">
                <h4>Walter White</h4>
                <!-- <span>Marketing</span> -->
                <p>
                  Magni qui quod omnis unde et eos fuga et exercitationem. Odio veritatis perspiciatis quaerat qui aut aut aut
                </p>
              
              </div>
            </div>
          </div><!-- End Team Member -->



          <!-- <div class="row row-cols-1 row-cols-md-3 row-cols-lg-4 g-4" data-aos="fade-up" data-aos-delay="100"> -->
            <!-- <div class="col-lg-4 col-md-6 d-flex">
                <div class="card" style="width: 18rem;">
                    <img src="assets/img/team/team-3.jpg" class="img-fluid" alt="..." style="height: 250px;">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    </div>
                </div>
            </div> -->
        
            <!-- <div class="col-lg-4 col-md-6 d-flex">
                <div class="card" id="card" style="width: 18rem;">
                    <img src="assets/img/team/team-3.jpg" class="img-fluid" id="card-img-overlay" alt="..." style="height: 250px;">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    </div>
                </div>
            </div> -->
            <!-- <div class="col-lg-4 col-md-6 d-flex">
                <div class="card" style="width: 18rem;">
                    <img src="assets/img/team/team-3.jpg" class="img-fluid" alt="..." style="height: 250px;">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    </div>
                </div>
            </div> -->
            <!-- <div class="col-lg-4 col-md-6 d-flexs">
                <div class="card" style="width: 18rem;">
                    <img src="assets/img/team/team-3.jpg" class="img-fluid" alt="..." style="height: 250px;">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    </div>
                </div>
            </div> -->
        <!-- </div> -->
        


      </div>

    </div>

  </section><!-- /Team Section -->