<p>log-in works!</p>

<meta name="viewport" content="width=device-width, initial-scale=1.0">
<div class="container">
    <div class="title">تسجيل الدخول</div>
    <div class="content">
      <form action="#">
        <div class="user-details">
          <div class="input-box">
            <span class="details">البريد الالكتروني</span>
            <input type="text" placeholder="البريد الالكتروني" required>
          </div>
         
          <div class="input-box">
            <span class="details">كلمة المرور</span>
            <input type="text" placeholder="كلمة المرور" required>
          </div>
        
        </div>
        
        <div class="button">
          <input type="submit" value="تسجيل">
        </div>
      </form>
    </div>
  </div>