<section id="get-started" class="get-started section-bg">
  <div class="container">
    <div class="row justify-content-between gy-4">
      <div class="col-lg-6 d-flex align-items-center" data-aos="fade-up">
        <form
          action="forms/quote.php"
          method="post"
          class="php-email-form"
          id="scrolled_form"
        >
          <h3>تقديم طلب</h3>
          <div class="row gy-3">
            <div class="col-md-12">
              <input
                type="text"
                name="name"
                class="form-control"
                placeholder="اسم المتطوع"
                required
              />
            </div>

            <div class="col-md-12">
              <input
                type="email"
                class="form-control"
                name="email"
                placeholder="البريد الالكتروني"
                required
              />
            </div>

            <div class="col-md-12">
              <input
                type="text"
                class="form-control"
                name="phone"
                placeholder="رقم الهاتف"
                required
              />
            </div>

            <div class="col-md-12">
              <input
                type="text"
                name="name"
                class="form-control"
                placeholder="المؤهل الدراسي"
                required
              />
            </div>

            <div class="col-md-12">
              <input
                type="text"
                name="name"
                class="form-control"
                placeholder=" الوظيفة الحالية"
                required
              />
            </div>

            <div class="col-md-12">
              <input
                type="text"
                name="name"
                class="form-control"
                placeholder="المحافظة"
                required
              />
            </div>

            <div class="col-md-12">
              <input
                type="text"
                name="name"
                class="form-control"
                placeholder="المدينة"
                required
              />
            </div>

            <div class="col-md-12">
              <input
                type="text"
                name="name"
                class="form-control"
                placeholder=" الرمز البريدي"
                required
              />
            </div>

            <div class="col-md-12">
              <select class="form-select" aria-label="Default select example">
                <option selected disabled>عمل طوعي معين يثير اهتمامك؟</option>
                <option value="1">هل هناك افضلية لعمل معين</option>
                <option value="2">العمل مع منتفع واحد</option>
                <option value="3">لا توجد افضلية</option>
                <option value="4">تقديم الخدمةالي عدة منتفعين</option>
                <option value="5">العمل مباشرة مع احد الموظفين كمساعد</option>
                <option value="6">التخاطب الجماهيري</option>
                <option value="7">المساعدات في الواجبات الادارية العامة</option>
                <option value="8">تحرير صحيفة او نشرة</option>
                <option value="9">غيرها</option>
              </select>
            </div>

            <div class="col-md-12">
              <select class="form-select" aria-label="Default select example">
                <option selected disabled>
                  هل هناك مستفيد (زبون) او مجموعة مستفيدين تفضل العمل معها ؟
                </option>
                <option value="1">البالغين</option>
                <option value="2">كبار السن</option>
                <option value="3">اليافعين</option>
                <option value="4">الاطفال</option>
                <option value="5">المعوقين</option>
                <option value="6">الذكور</option>
                <option value="7">الاناث</option>
                <option value="8">لا مفاضلة</option>
                <option value="9">غيرهم</option>
                <option value="10">لا ارغب في العمل مع المنتفعين</option>
              </select>
            </div>

            <div class="col-md-12">
              <select class="form-select" aria-label="Default select example">
                <option selected disabled>
                  هل هناك مجموعة لا تشعر بالميل للعمل معها ؟
                </option>
                <option value="1">لا</option>
                <option value="2">نعم</option>
              </select>
            </div>

            <div class="col-md-12">
              <select class="form-select" aria-label="Default select example">
                <option selected disabled>
                  ما هي الاوقات التي تفضل العمل التطوعي فيها ؟
                </option>
                <option value="1">مرن</option>
                <option value="2">افضل ايام الاسبوع</option>
                <option value="3">افضل العطل الاسبوعية</option>
                <option value="4">افضل العمل النهاري</option>
                <option value="5">افضل العمل المسائي</option>
                <option value="6">غيرها</option>
                <option value="7">
                  هناك اوقات لا استطيع العمل بها خلال الاسبوع
                </option>
              </select>
            </div>

            <div class="col-md-12">
              <select class="form-select" aria-label="Default select example">
                <option selected disabled>
                  هل عندك افضلية جغرافية في العمل التطوعي ؟
                </option>
                <option value="1">لا</option>
                <option value="2">نعم</option>
                <option value="3">احيانا</option>
              </select>
            </div>

            <div class="col-md-12">
              <select class="form-select" aria-label="Default select example">
                <option selected disabled>
                  هل لديك سيارة بامكانك استخدامها في العمل التطوعي ؟
                </option>
                <option value="1">لا</option>
                <option value="2">نعم</option>
                <option value="3">احيانا</option>
              </select>
            </div>

            <div class="col-md-12">
              <select class="form-select" aria-label="Default select example">
                <option selected disabled>
                  مصادر معرفتك بنا , كيف سمعت عنا ؟
                </option>
                <option value="1">توصية صديق</option>
                <option value="2">مكتوب تطوعي</option>
                <option value="3">احد المتطوعين</option>
                <option value="4">اعلانات</option>
                <option value="5">احد المستفيدين من الجمعية</option>
                <option value="6">غيرها</option>
              </select>
            </div>

            <h3>اسم وهاتف اثنين ممكن يعرفونك</h3>

           
              <div class="col-md-6">
                <input type="text" name="name" class="form-control" placeholder="الاسم" required />
              </div>

              <div class="col-md-6">
                <input type="text" name="name" class="form-control" placeholder="الهاتف" required />
              </div>
          

          
              <div class="col-md-6">
                <input type="text" name="name" class="form-control" placeholder="الاسم" required />
              </div>

              <div class="col-md-6">
                <input type="text" name="name" class="form-control" placeholder="الهاتف" required />
              </div>

            <div class="col-md-12 text-center">
              <div class="loading">Loading</div>
              <div class="error-message"></div>
              <div class="sent-message">
                Your quote request has been sent successfully. Thank you!
              </div>

              <button type="submit">تقديم</button>
            </div>
          </div>
        </form>
      </div>

      <div class="col-lg-5" data-aos="fade">
        <div class="content">
          <img src="assets/img/apply.webp" class="img-fluid my-img" alt="" />
        </div>
      </div>
      <!-- End Quote Form -->
    </div>
  </div>
</section>
<!-- End Get Started Section -->
