<section id="get-started" class="get-started section-bg">
  <div class="container">
    <div class="row justify-content-between gy-4">
      <div class="col-lg-6 d-flex align-items-center" data-aos="fade-up">
        <form
          action="forms/quote.php"
          method="post"
          class="php-email-form scrolled_form"
        >
          <h3>تقديم طلب</h3>
          <!-- <p>Vel nobis odio laboriosam et hic voluptatem. Inventore vitae totam. Rerum repellendus enim linead sero park flows.</p> -->
          <div class="row gy-3">
            <div class="col-md-12">
              <input
                type="text"
                name="name"
                class="form-control"
                placeholder="اسم المتطوع"
                required
              />
            </div>

            <div class="col-md-12">
              <input
                type="email"
                class="form-control"
                name="email"
                placeholder="البريد الالكتروني"
                required
              />
            </div>

            <div class="col-md-12">
              <input
                type="text"
                class="form-control"
                name="phone"
                placeholder="رقم الهاتف"
                required
              />
            </div>

            <div class="col-md-12">
              <input
                type="text"
                name="name"
                class="form-control"
                placeholder="المؤهل الدراسي"
                required
              />
            </div>

            <div class="col-md-12">
              <input
                type="text"
                name="name"
                class="form-control"
                placeholder=" الوظيفة الحالية"
                required
              />
            </div>

            <div class="col-md-12">
              <input
                type="text"
                name="name"
                class="form-control"
                placeholder="المحافظة"
                required
              />
            </div>

            <div class="col-md-12">
              <input
                type="text"
                name="name"
                class="form-control"
                placeholder="المدينة"
                required
              />
            </div>

            <div class="col-md-12">
              <input
                type="text"
                name="name"
                class="form-control"
                placeholder=" الرمز البريدي"
                required
              />
            </div>
<!-- 
            <p>عمل طوعي معين يثير اهتمامك؟</p>

            <div class="form-check">
              <label class="form-check-label" for="flexCheckDefault">
                هل هناك افضلية لعمل معين
              </label>
              <input
                class="form-check-input"
                type="checkbox"
                value=""
                id="flexCheckDefault"
              />
            </div>

            <div class="form-check">
              <label class="form-check-label" for="flexCheckChecked">
                العمل مع منتفع واحد
              </label>
              <input
                class="form-check-input"
                type="checkbox"
                value=""
                id="flexCheckChecked"
                checked
              />
            </div>

            <div class="form-check">
              <label class="form-check-label" for="flexCheckChecked">
                لا توجد افضلية
              </label>
              <input
                class="form-check-input boxes"
                type="checkbox"
                value=""
                id="flexCheckChecked"
                checked
              />
            </div>

            <div class="slds-form-element">
              <div class="slds-form-element__control">
                <div class="slds-checkbox">
                  <input
                    type="checkbox"
                    name="options"
                    id="checkbox-unique-id-82"
                    value="checkbox-unique-id-82"
                    checked=""
                  />
                  <label
                    class="slds-checkbox__label"
                    for="checkbox-unique-id-82"
                  >
                    <span class="slds-checkbox_faux"></span>
                    <span class="slds-form-element__label">Checkbox Label</span>
                  </label>
                </div>
              </div>
            </div> -->

            <div class="dropdown">
              <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                عمل طوعي معين يثير اهتمامك؟
              </button>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">هل هناك افضلية لعمل معين</a></li>
                <li><a class="dropdown-item" href="#">العمل مع منتفع واحد </a></li>
                <li><a class="dropdown-item" href="#">لا توجد افضلية</a></li>
              </ul>
            </div>

            <div style="display: inline-block;">
            <label for="language" style="margin-left: 5px;">عمل طوعي معين يثير اهتمامك؟:</label>
<select name="language" id="language"  style="width: 415px;">
  <option value="javascript">JavaScript</option>
  <option value="python">Python</option>
  <option value="c++" disabled>C++</option>
  <option value="java" selected>Java</option>
</select>
</div>

            <div class="col-md-12 text-center">
              <div class="loading">Loading</div>
              <div class="error-message"></div>
              <div class="sent-message">
                Your quote request has been sent successfully. Thank you!
              </div>

              

              <button type="submit">تقديم</button>
            </div>

            

          </div>
        </form>
      </div>

      <div class="col-lg-5" data-aos="fade">
        <div class="content">
          <img src="assets/img/apply.webp" class="img-fluid my-img" alt="" />
        </div>
      </div>
      <!-- End Quote Form -->
    </div>
  </div>
</section>
<!-- End Get Started Section -->
