<section id="services" class="services section">


    <div class="container section-title" data-aos="fade-up">
      <span class="my-shadow">حول الكورسات </span>
      <h2> حول الكورسات</h2>
      <!-- <p>متخليش مجموعك يوقفك توصل لوظيفة أحلامك، لو بتحب الصحافة والإعلام 🎥🎤
         وحلمك تبقي صحفي أو مذيع..مكانك معانا في التدريب المهني في الصحافة والإعلام في مركز البناء الدولي ...الفرصة لكل  خريجي ثانوي والأزهر والدبلومات وكمان المعاهد والكليات وبدون التقيد بسنة التخرج👨‍🎓👩‍🎓</p> -->
    </div>

    <div class="container">

      <div class="row gy-4">

        <div class="col-lg-4 col-md-6 my-box" data-aos="fade-up" data-aos-delay="100">
          <div class="service-item  position-relative inside-box">
            <div class="icon">
              <i class="bi bi-badge-3d"></i>
            </div>
            <a href="max3" class="stretched-link">
              <h3>كورس 3D-Max </h3>
            </a>
          </div>
        </div>

        <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
          <div class="service-item position-relative inside-box">
            <div class="icon">
              <i class="bi bi-building"></i>
            </div>
            <a href="space" class="stretched-link">
              <h3> كورس المساحة </h3>
            </a>
          </div>
        </div>


        <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
            <div class="service-item position-relative inside-box">
              <div class="icon">
                <i class="bi bi-map"></i>
              </div>
              <a href="autocad" class="stretched-link">
                <h3> كورس_AuToCAD </h3>
              </a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
            <div class="service-item position-relative inside-box">
              <div class="icon">
                <i class="bi bi-laptop"></i>
              </div>
              <a href="tech" class="stretched-link">
                <h3> دبلومةالمكتب الفني </h3>
              </a>
            </div>
          </div>


          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
            <div class="service-item position-relative inside-box">
              <div class="icon">
                <i class="bi bi-translate"></i>
              </div>
              <a href="gis" class="stretched-link">
                <h3> دبلومة نظم المعلومات الجغرافية GIS</h3>
              </a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
            <div class="service-item position-relative inside-box">
              <div class="icon">
                <i class="bi bi-bag"></i>
              </div>
              <a href="revit" class="stretched-link">
                <h3>كورس ال_ REVIT المعماري</h3>
              </a>
            </div>
          </div>
        

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
            <div class="service-item position-relative inside-box">
              <div class="icon">
                <i class="bi bi-hospital"></i>
              </div>
              <a href="electric" class="stretched-link">
                <h3>كورس الهندسة الكهربائية للمواقع الإنشائية والمباني </h3>
              </a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
            <div class="service-item position-relative inside-box">
              <div class="icon">
                <i class="bi bi-hospital"></i>
              </div>
              <a href="graphic" class="stretched-link">
                <h3>دبلومة تصميم الجرافيك</h3>
              </a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
            <div class="service-item position-relative inside-box">
              <div class="icon">
                <i class="bi bi-hospital"></i>
              </div>
              <a href="spaceDiploma" class="stretched-link">
                <h3>دبلومة المساحة + التخطيط المتكاملة </h3>
              </a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
            <div class="service-item position-relative inside-box">
              <div class="icon">
                <i class="bi bi-hospital"></i>
              </div>
              <a href="quantity" class="stretched-link">
               <h3>دورة حساب كميات</h3>
              </a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
            <div class="service-item position-relative inside-box">
              <div class="icon">
                <i class="bi bi-hospital"></i>
              </div>
              <a href="site" class="stretched-link">
                <h3>دبلومة إعداد مهندس موقع </h3>
              </a>
            </div>
          </div>
        

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
            <div class="service-item position-relative inside-box">
              <div class="icon">
                <i class="bi bi-hospital"></i>
              </div>
              <a href="summer" class="stretched-link">
                <h3>التدريب الصيفي لكليات الهندسة والمساحة</h3>
              </a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
            <div class="service-item position-relative inside-box">
              <div class="icon">
                <i class="bi bi-filetype-html"></i>
              </div>
              <a href="html" class="stretched-link">
                <h3>كورس_html </h3>
              </a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
            <div class="service-item position-relative inside-box">
              <div class="icon">
                <i class="bi bi-hospital"></i>
              </div>
              <a href="scratch" class="stretched-link">
                <h3>برنامج اسكراتش</h3>
              </a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 my-box" data-aos="fade-up" data-aos-delay="100">
            <div class="service-item  position-relative inside-box">
              <div class="icon">
                <i class="bi bi-speaker"></i>
              </div>
              <a href="icdl" class="stretched-link">
                <h3>ICDL </h3>
              </a>
            </div>
          </div>


          <div class="col-lg-4 col-md-6 my-box" data-aos="fade-up" data-aos-delay="100">
            <div class="service-item  position-relative inside-box">
              <div class="icon">
                <i class="bi bi-bag"></i>
              </div>
              <a href="aid" class="stretched-link">
                <h3>كورس الاسعافات الاوليه </h3>
              </a>
            </div>
          </div>

  
      </div>

    </div>

  </section>