<section id="about" class="about section">

    <div class="container section-title" data-aos="fade-up">
      <span class="my-shadow"> التدريب الصيفي لكليات الهندسة والمساحة <br></span>
      <h2 class=""> التدريب الصيفي لكليات الهندسة والمساحة <br></h2>
      <p>فرصة هائله لطلاب الهندسه والمساحه 
        تعلن ادارة التدريبعن فتح باب التقديم للتدريب الصيفي لطلبة 
        كليات الهندسة والاداب قسم المساحة والمعاهد الهندسية والمساحية الحكومية والخاصة لدي مؤسسة البناء على ان يكون التقديم خلال الفترة من 15/4/2022 وحتى 31/6/2022
        </p>
    </div>

    <div class="container">

      <div class="row gy-4">

        <div class="col-lg-6 order-1 order-lg-2" data-aos="fade-up" data-aos-delay="100">
          <img src="assets/img/about.jpg" class="img-fluid" alt="">
        </div>

        <div class="col-lg-6 order-2 order-lg-1 content" data-aos="fade-up" data-aos-delay="200">
       
          <ul>
           


           <li><i class="bi bi-check-circle"></i> <span> مواقع مجهزه بكامل الاجهزه الي بتحتاجها </span></li>
           <li><i class="bi bi-check-circle"></i> <span> بتخلص بتاخد شهاده خبره </span></li>
           <li><i class="bi bi-check-circle"></i> <span>  هتدرب علي يد مهندسين خبره ف المجال </span></li>
   

           <h5 class="mb-3"> الاقسام المتاحة ( المعماري _ المدني _ كهرباء _ مساحة ) </h5>


           

</ul>


          

       
        </div>

      </div>

    </div>

  </section><!-- /About Section -->