<section id="vision" class="vision section">

    <div class="container section-title" data-aos="fade-up">
      <span class="my-shadow">سابقة أعمال شركة البناء<br></span>
      <h2 class="">سابقة أعمال شركة البناء<br></h2>
    </div>

    <div class="container">

      <div class="row gy-4">


        <div class=" order-2 order-lg-1 content" data-aos="fade-up" data-aos-delay="200">
          <h3>
            البناء الدولية للإنشاءات والمقاولات العامة وأعمال المساحة 
هي شركة متخصصة في مجال الهندسة و بناء وصيانة منشآت الأشغال المدنية، والمنازل والمجمعات والمدارس و المستشفيات. وأي نوع من فئات البناء.
بداية دخول سوق البناء وحققت سمعتها بعد الانتهاء من تنفيذ الأعمال في الوقت المناسب من مشاريع مميزة. من خلال اعتماد تقنيات فعالة من حيث التكلفة ومستويات جودة مميزة وأنواع أخرى من المشاريع بتحقيق أعلى المعايير الدولية، وتحقيق الرضا الكامل لعملائنا، وقد تم الانتهاء من مشاريع في القطاعات التالية حكومية و العسكرية والسكنية والتجاري.
لدينا الثقة والخبرة على العمل إما بأسناد مباشر أو المقاول لمشروع بصورة مشتركة وتنفيذ خدمات الدعم الفني الجودة و ضمان أن المشاريع التي تقوم بها الشركة تلبي المواصفات ومتطلبات عملائنا وأنجازها في الوقت المحدد.
          </h3>

           
            <!-- <h3>كانت بداية نشاط المقاولات يتبنى منهج الدولة في مشروعاتها القومية كمشروع (حياة كريمة)
                </h3> -->

                <h3>المقاولات العامة</h3>
          <ul>
            <li><i class="bi bi-building-fill"></i> <span>مقاولات عامة للمباني السكنية و المباني مسبقة الصنع و المباني الحديدية و الإنشاء و الهدم و ترميم المباني و تشغيل و صيانة و نظافة المباني السكنية و التجارية .</span></li>
            <li><i class="bi bi-building-fill"></i> <span>إنتاج الخرسانة الجاهزة و البلاط و البلك الاسمنتي .</span></li>
            <li><i class="bi bi-building-fill"></i> <span>مقاولات أعمال الطرق و تشمل الترابية و الاسفلتية و الإنارة .</span></li>
            <li><i class="bi bi-building-fill"></i> <span>أعمال المياه و الصرف الصحي و صيانة و تشغيل محطات تنقية المياه و الصرف الصحي و المنشآت الكهربائية</span></li>
            <li ><i class="bi bi-building-fill"></i> <span>مقاولات الأعمال الكهربائية و تشمل محطات توليد و نقل و تحويل الطاقة الكهربائية .</span></li>
            <li ><i class="bi bi-building-fill"></i> <span>الأعمال الميكانيكية ( أعمال نظم التبريد و التكييف المركزي ).</span></li>
            <li ><i class="bi bi-building-fill"></i> <span>الأعمال الالكترونية و أعمال الشبكات الاتصالات السلكية و اللاسلكية و شبكات الحاسب الآلي و نظم التحكم الآلي .</span></li>
            <li ><i class="bi bi-building-fill"></i> <span>تأجير المعدات الثقيلة الغير زراعية .</span></li>
            <li ><i class="bi bi-building-fill"></i> <span>الأعمال الصناعية .</span></li>
            <li ><i class="bi bi-building-fill"></i> <span>الأعمال البحرية و تشمل إصلاح أحواض السفن و الأرصفة البحرية و حفر و دق الركائز و أعمال التعميق و التنظيف و التمديدات و الأنفاق تحت الماء .</span></li>
            <li ><i class="bi bi-building-fill"></i> <span>تنسيق و تشجير الحدائق و تنظيم المواقع و تشجير الشوارع و الحدائق و المتنزهات و صيانتها و تشغيلها .</span></li>



          </ul>
          
        </div>

      

      </div>

    </div>

    <!-- our company -->

    <div class="container">

        <div class="container section-title" data-aos="fade-up">
            <span class="my-shadow">شـركـائنا<br></span>
            <h2 class="">شـركـائنا<br></h2>
          </div>
        <div class="row gy-4">
    
            <div class="col-lg-6 order-1 order-lg-2" data-aos="fade-up" data-aos-delay="100">
              <img src="assets/img/about.jpg" class="img-fluid" alt="">
            </div>
    
            <div class="col-lg-6 order-2 order-lg-1 content" data-aos="fade-up" data-aos-delay="200">
              <h3 class="text-decoration-underline">ساهمت شركة البناء في:</h3>
           
              <ul>
                <li><i class="bi bi-building-fill"></i> <span class="text-decoration-underline">جهاز مدينة العلمين الجديدة</span>
                
                    <ul>
                        <li><i class="bi bi-check-circle"></i> <span>City Edge. مشروع العلمين الجديدة</span></li>
                        <li><i class="bi bi-check-circle"></i> <span>مشروع انشاء مجمع سكني ترفيهي بعدد 37 فيلا و 4 شاليهات بمساحة 37 فدان بمدينة العلمين الجديدة</span></li>
                        <li><i class="bi bi-check-circle"></i> <span>مشروع انشاء جزير الطريق الدولي الساحلي الممتد من بوابة مدينة العلمين وحتي بوابة سيدي عبدالرحمن </span></li>
                    </ul>
                </li>
                
                <li><i class="bi bi-building-fill"></i> <span class="text-decoration-underline">هيئة الابنية التعليمية </span>
                
                    <ul>
                        <li><i class="bi bi-check-circle"></i> <span>مشروع انشاء مدرسة العاقولة الابتدائية</span></li>
                        <li><i class="bi bi-check-circle"></i> <span>مشروع انشاء مدرسة العاقلة ذات الفصل الواحد بمركز بلطيم مدينة البرلس بمحافظة كفرالشيخ</span></li>
                        <li><i class="bi bi-check-circle"></i> <span>مشروع انشاء مدرسة الغبايشة الاعدادية</span></li>
                        <li><i class="bi bi-check-circle"></i> <span>مشروع انشاء مدرسة الغبايشة ذات الفصل الواحد بمركز سيدي سالم بمحافظة كفرالشيخ</span></li>
                    </ul>
                </li>
                
                <li><i class="bi bi-building-fill"></i> <span class="text-decoration-underline">جهاز التعمير والاسكان بكفرالشيخ</span>
                
                    <ul>
                        <li><i class="bi bi-check-circle"></i> <span>مشروع انشاء عدد 6 عمارات بمركز دسوق بمحافظة كفرالشيخ </span></li>
                        <li><i class="bi bi-check-circle"></i> <span>مشروع مديرية الاسكان والمرافق بمحافظة كفرالشيخ</span></li>
                        <li><i class="bi bi-check-circle"></i> <span>مشروع انشاء مستشفي الحمراوي البيطري</span></li>
                        <li><i class="bi bi-check-circle"></i> <span>مشروع صيانة وتطوير ورفع كفاءة مستشفي الحمراوي العام</span></li>
                    </ul>
                </li>
                
                <li><i class="bi bi-building-fill"></i> <span class="text-decoration-underline">جهاز التعمير والاسكان بالمنيا</span>
                <ul>
                    <li><i class="bi bi-check-circle"></i> <span>مشروع انشاء مجمع ( ابا ) الخدمي بمغاغة ضمن مشروعات حياة كريمة</span></li>

                </ul></li>
                <li><i class="bi bi-building-fill"></i> <span class="text-decoration-underline">وزارة الري بالمنيا</span>
                <ul>
                    <li><i class="bi bi-check-circle"></i> <span>مشروع تبطين وتأهيل ترعة فرج بمركز ديرمواس بمحافظة المنيا ضمن مشروعات حياة كريمة</span></li>
                    <li><i class="bi bi-check-circle"></i> <span>مشروع تبطين وتأهيل ترعة الدياب بمركز ابوقرقاص بمحافظة المنيا ضمن مشروعات حياة كريمة</span></li>
                
                </ul></li>
              
    
                
    
    
              </ul>

              <h3 class="text-decoration-underline" >الانشاءات و المقاولات العامة</h3>
              <ul>
                <li><i class="bi bi-bookmark-fill"></i> <span>التصميمات الإنشائية والمعمارية</span></li>
                <li><i class="bi bi-bookmark-fill"></i> <span>إستشارات هندسية</span></li>
                <li><i class="bi bi-bookmark-fill"></i> <span>المناقصات العامه</span></li>
                <li><i class="bi bi-bookmark-fill"></i> <span> تراخيص الهدم والإنشاء</span></li>
                <li><i class="bi bi-bookmark-fill"></i> <span>أعمال التشطيبات والديكور</span></li>
                <li><i class="bi bi-bookmark-fill"></i> <span>إستثمار عقاري</span></li>

            </ul>

            <h3 class="text-decoration-underline" > أعمال المساحة المتكاملة</h3>
            <ul>
              <li><i class="bi bi-bookmark-fill"></i> <span>تنفيذ جميع أعمال الانشاءات</span></li>
              <li><i class="bi bi-bookmark-fill"></i> <span>تنفيذ جميع أعمال الطرق والكباري</span></li>
              <li><i class="bi bi-bookmark-fill"></i> <span>تنفيذ جميع أعمال الصرف والمياه</span></li>
              <li><i class="bi bi-bookmark-fill"></i> <span> تنفيذ جميع أعمال الاند اسكيب</span></li>
              <li><i class="bi bi-bookmark-fill"></i> <span>تنفيذ جميع أعمال القطارات</span></li>
              <li><i class="bi bi-bookmark-fill"></i> <span>تقسيم الأراضي الزراعية </span></li>
              <li><i class="bi bi-bookmark-fill"></i> <span>تنفيذ جميع انواع الميزانيات والشبكية</span></li>
              <li><i class="bi bi-bookmark-fill"></i> <span>تنفيذ أعمال تأهيل الترع</span></li>
              <li><i class="bi bi-bookmark-fill"></i> <span>تنفيذ جميع اعمال الميكانيكا والكهرباء</span></li>
              <li><i class="bi bi-bookmark-fill"></i> <span>بيع وتأجير ومعايرة جميع الأجهزة مساحية   (GPS_Total_Level- طائرات Drones )
                جميع الأعمال تشمل اعمال المكتب الفني.</span></li>


          </ul>

          <!-- <div class="row">
            <div class="col-md-6 icon-box">
              <i class="bi bi-box-fill"></i>
              <h4>Corporis voluptates sit</h4>
              <p>Consequuntur sunt aut quasi enim aliquam quae harum pariatur </p>
            </div>
        </div> -->

        

        
            </div>
    
          </div>

          <div class="col-md-6 col-sm-6 col-xs-12">
            <article class="recent-post-item">
              <div class="bi bi-buildings">
              </div>
              <div class="recent-post-info">
                <div class="recent-post-title-time text-decoration-underline">
                  <h4><a routerLink="additions" fragment="mkalat">الخدمات الإنشائية
                </a>
              </h4>
                </div>
  
              </div>
            </article>
        </div>

        <div class="col-md-6 col-sm-6 col-xs-12">
            <article class="recent-post-item">
              <div class="bi bi-buildings">
              </div>
              <div class="recent-post-info">
                <div class="recent-post-title-time text-decoration-underline">
                  <h4><a routerLink="additions" fragment="tasmem">التصميمات الهندسية
                </a></h4>
                </div>
  
              </div>
            </article>
        </div>
    </div>
    

  </section>
