<section id="about" class="about section">

    <div class="container section-title" data-aos="fade-up">
      <span class="my-shadow"> دبلومة المساحة + التخطيط المتكاملة  <br></span>
      <h2 class=""> دبلومة المساحة + التخطيط المتكاملة <br></h2>
      <p>دبلومه متكامله في مجال المساحه
        دبلومه  تأهيل فني مساحه او مساح عام واخصائي مساحه وخرائط وقياس أراضي وتأهيل ترع كمان وصرف وإنشاءات وطرق 
        الدبلومه دي بتتكون من 8 كورسات في دبلومة واحده متكامله وشامله من البداية إلى الاحتراف
        </p>
    </div>

    <div class="container">

      <div class="row gy-4">

        <div class="col-lg-6 order-1 order-lg-2" data-aos="fade-up" data-aos-delay="100">
          <img src="assets/img/about.jpg" class="img-fluid" alt="">
        </div>

        <div class="col-lg-6 order-2 order-lg-1 content" data-aos="fade-up" data-aos-delay="200">
       
          <ul>

            <h5>محتوى الدبلومة :</h5>
            <p>في بدايه الدبلومه المساحيه معانا في البناء بيتم التعريف</p>
            <h5>بالمحتوى العلمي : </h5>
            <p> شرح الأسس العلمية للهندسة المساحية :- 
                (التعريف بعلم المساحة - المساحة المستوية والجيودوسيه – أنظمة الإحداثيات – حسابات الزوايا والإنحراف _ والروبير والسلسله - مستوى المقارنة والميزانية الشبكية – الكونتور وتضاريس الأراضي).
                </p>

            <h5>الكورس الأول :</h5>
            <p>الاجهزه المساحيه ( الميزان - التوتال استيشن - GPS hand ويتم فيه<br>
                • شرح الأجهزة وأعمال الموقع :-
                (خطوات تنفيذ الميزانية الشبكية في الموقع– شرح الميزان وقراءة المناسيب – وزنة السقف والارضيات – استلام منسوب الحفر والاحلال - شرح التوتال ستيشن وخطوات الرفع والتوقيع – طرق استدعاء ونقل الداتا - متابعة تنفيذ اعمال الحفر والردم وتشغيل المعدات التقيلة - الفروقات الفنية بين اعمال الطرق والصرف الصحي والبنية التحتية والإنشاءات -شرح جهاز الجي بي اس هاند - طرق الرفع والتوقيع - فيما يستخدم الجهاز - كيفية الاتصال بالاقمار الصناعية وتحديد النقاط والاحداثيات بأفضل دقة يمكن الوصل إليها - كيفية رفع الاحياء والميادين والطرق والمناطق السكنية) .
                </p><br>

            <h5>الكورس الثاني :</h5>
            <p>كورس شامل فى البرامج المساحيه ( البرولينك - السوكيا لينك - السيرفر - السيفيل 3d - الاوتوكاد 2Dو3D)<br>
                • شرح أعمال المكتب الفني :- 
                ( حسابات الميزانية الشبكية والتحويل بين الأنظمة – حصر كميات الحفر والردم والفصل بين طبقات التربة – تجهيز التقارير الفنية للاستشاري والمقاول – طرق نقل الداتا بين التوتال ستيشن والكمبيوتر – أنواع الملفات المساحية - شرح برنامج البرولينك – شرح برنامج سوكيا لينك - شرح برنامج الأوتوكاد – شرح برنامج اللاند ديسك توب – شرح برنامج السيرفر – تقفيل اللوحات الطبوغرافية والكنتورية وتسليمها- قراءات المخططات   )
                </p><br>

            <h5>الكورس الثالث : </h5>
            <p>كورس شامل فى أعمال الطرق من حيث التصميم والتنفيذ </p><br>

            <h5>الكورس الرابع :</h5>
            <p>كورس شامل فى مجال الانشاءات </p><br>


            <h5>الكورس الخامس :</h5>
            <p>كورس شامل فى مجال الصرف الصحي </p><br>

            <h5>الكورس السادس:</h5>
            <p>كورس التصميم المعماري </p><br>

            <h5>الكورس السابع :</h5>
            <p>ودا هديه من البناء 
                دوره في مجال تأهيل وتبطين الترع والصرف المغطي وحساب كمياتها 
                </p><br>

            <h5>الكورس الثامن :</h5>
            <p>دا برضو هدية من البناء 
                دورة التعريف بالمساحة البحرية وطرق الملاحة البحرية والانظمة الملاحية والاجهزة المستخدمة في كشف الاعماق وطرق تحديد المسارات وكيفية مد خطوط الغاز وعمل محطات استخراجه 
                </p><br>

           <h5>بعد إتمام الدورة هتكون قادر على : </h5>


           <li><i class="bi bi-check-circle"></i> <span>  اجتياز اي انترفيو بأي شركة .</span></li>
           <li><i class="bi bi-check-circle"></i> <span> تشتغل مساح انشاءات في مجال المعمار .</span></li>
           <li><i class="bi bi-check-circle"></i> <span> تشتغل مساح طرق وميه وصرف وفي مجال البنية التحتيه  </span></li>
           <li><i class="bi bi-check-circle"></i> <span> تشتغل في المكتب الفني  </span></li>
           <li><i class="bi bi-check-circle"></i> <span> يعني تكون مساح شاطر في جميع المجالات  </span></li>

           <h5>مميزات الدورة التدريبية :</h5>

           <li><i class="bi bi-check-circle"></i> <span> مكنك الالتحاق بالنقابة العامة لمهندسي المساحة
            و اجتياز اختبار قياس المهارة لدي وزارة القوي العاملة 
            وبالتالي يمكنك تغير المسمى الوظيفى فى البطاقة الشخصية
             </span></li>
           <li><i class="bi bi-check-circle"></i> <span> شهادة الدورة معتمدة رسميا للعمل بها داخل وخارج الجمهورية 
            بتستلم 3 شهادات 
            اول شهاده بتكون شهاده بالتدريب المهني في مجال المساحة وبتكون بسريال نمبر وباركود مرفوعين ع سيرفر الموقع الرسمي للمؤسسة. www.albennaa.com
            ثاني شهادة بتكون شهادة خبرة من المؤسسة بالعمل في مجال المساحة بوظيفة ( مساح عام أو أخصائي مساحة )
            ثالث شهادة بتكون شهادة بالعمل والتدريب في مجال المساحة وبتكون موثقة في الشهر العقاري ( التوثيق في الشهر العقاري بيكون برسوم إضافية خارج ثمن الدبلومة )
            وبستلم كارنية بالمسمي الوظيفي من مؤسسة البناء 
              </span></li>
           <li><i class="bi bi-check-circle"></i> <span> دعم فنى للمتدرب خلال الكورس التدريبى وبعده  </span></li>
           <li><i class="bi bi-check-circle"></i> <span> بيتم التدريب نظرى ٢٠٪ ؛ عملى ٨٠٪ </span></li>
           <li><i class="bi bi-check-circle"></i> <span> بيتم التدريب على احدث الأجهزة والبرامج المساحيه  </span></li>
           <li><i class="bi bi-check-circle"></i> <span> بيتم التدريب على أيدى مهندسين مختصين في مجال المساحه العاملين في كبرى الشركات داخل وخارج جمهوريه مصر العربيه </span></li><br>

           <h6>الفئات المؤهلة للالتحاق بالدورة:</h6>
           <p>الكورس بيستهدف طلبة وخريجين معهد المساحة و الري والصرف ..
            وكلية زراعة واداب وتربية قسم جغرافيه وكلية هندسه والخريجين وكل ما يريد تعلم مجال المساحه  
            </p><br>
           <h5>المدرب : مهندس مصطفي يحيي</h5>

           <h5> المده : 3شهور</h5>


   



           

</ul>


          

       
        </div>

      </div>

    </div>

  </section><!-- /About Section -->