<section id="about" class="about section">

    <div class="container section-title" data-aos="fade-up">
      <span class="my-shadow"> ICDL <br></span>
      <h2 class=""> ICDL <br></h2>
      <p>في البناء بتدرب وبتتعلم علي أيدي خبراء وناس في المجال من سنين كتير
        وبتتأهل فعلا لسوق العمل مش مجرد كورس وخلاص
        </p>

    </div>

    <div class="container">

      <div class="row gy-4">

        <div class="col-lg-6 order-1 order-lg-2" data-aos="fade-up" data-aos-delay="100">
          <img src="assets/img/about.jpg" class="img-fluid" alt="">
        </div>

        <div class="col-lg-6 order-2 order-lg-1 content" data-aos="fade-up" data-aos-delay="200">
       
          <ul>
           


           <li><i class="bi bi-check-circle"></i> <span> هتعرف إزاي تختار جهازك </span></li>       
           <li><i class="bi bi-check-circle"></i> <span> هنتعلم إزاى نتعامل مع windows  </span></li>
           <li><i class="bi bi-check-circle"></i> <span> هنتعلم نتعامل مع الملفات والطريقة العملية لتنظيمها </span></li>
           <li><i class="bi bi-check-circle"></i> <span> هنتعلم طرق ضغط الملفات وفك الضغط وعمل باسورد </span></li>
           <li><i class="bi bi-check-circle"></i> <span> هنعرف إزاى نسطب البرامج وإزاي نحذفها  </span></li>
           <li><i class="bi bi-check-circle"></i> <span> هنعرف الفرق بين النسخة 64 والنسخة 32 أو 86 </span></li>
           <li><i class="bi bi-check-circle"></i> <span> هنعرف إزاى نجيب الحاجة من على الفلاشة لو مختفية عليها  </span></li><br>

           <h6>إن شاء الله هنتعلم حاجات كتير جدًا خلال الكورس
            هتفيدك لو إنت حد محتاج يعمل بريزنتيشن لنفسه
           او لو إنت حد محتاج تعمل معادلات وتجمع أرقام كتير 
           هنتعلم حاجات فى الانفوجرافيك ودا مهم جدا وتقدر تستخدمه فى حاجات كتير جدا
           الحاجات اللى قولنها على سبيل المثال لا الحصر بنتعلم كتير جدا فى الدوره ان شاء الله 
           اللي عايز يعمل cv
           لكورس بيشمل ال 7 مديولات 
           ( word / excel / powerpoint / Access/ It / Windows / Internte) هتتعلم كل كدا على مدار الكورس وهنشرح برنامج برنامج بشكل مفصل جدًا وهتشتغل بنفسك وتطبق على كل اللى بتتعمله
           برنامج word
           </h6><br><br>

           <h6>هتتعلم فيه القوائم الاساسية
            File - Home - Insert - Design - Layout - Review
            برنامج Power Point 
            هتتعلم فيه ازاى تعمل عرض تقديم مميز
            SmartArt - Transition - Animation - Slide Show
            برنامج Excel
            هتتعلم فيه ازى تنسق الجداول والرسم البيانى
            Styles Tables - Charts 
            Link - Sheet OptionS  
            برنامج Access
            هتتعلم كيف تعمل قاعدة بيانات بالجداول والاكواد وادخال البيانات والتعديل عليها وايضا حذف البيانات.
            Create table in design view -
            Create table in sql code -
            Insert into data - 
            Update date -
            Delete data
            </h6><br><br>

            <h5>مدة الكورس : شهر</h5>
<h5>المدرب المهندسة : رفيدة </h5>
   
          </ul>


       
        </div>

      </div>

    </div>

  </section><!-- /About Section -->