<section id="about" class="about section">
  <div class="container section-title" data-aos="fade-up">
    <span class="my-shadow"> دبلومة نظم المعلومات الجغرافية GIS <br /></span>
    <h2 class="">دبلومة نظم المعلومات الجغرافية GIS <br /></h2>
    <p>
      في البناء بتدرب وبتتعلم علي أيدي خبراء وناس في المجال من سنين كتير وبتتأهل
      فعلا لسوق العمل مش مجرد كورس وخلاص.
    </p>
    <p>
      مدة الدبلومة ٣ شهور وتزيد وتنقسم الى 24 محاضرة عملية , بواقع تنفيذ
      محاضرتين أسبوعيا .
    </p>
  </div>

  <div class="container">
    <div class="row gy-4">
      <div
        class="col-lg-6 order-1 order-lg-2"
        data-aos="fade-up"
        data-aos-delay="100"
      >
        <img src="assets/img/about.jpg" class="img-fluid" alt="" />
      </div>

      <div
        class="col-lg-6 order-2 order-lg-1 content"
        data-aos="fade-up"
        data-aos-delay="200"
      >
        <ul>
          <h6>تنقسم الدبلومة الى 3 مستويات كالأتى:</h6>
          <p>المستوى الأول :</p>

          <li>
            <i class="bi bi-check-circle"></i>
            <span> Gis Basic ... مستوى أساسى فى نظم معلومات جغرافية </span>
          </li>
          <li>
            <i class="bi bi-check-circle"></i>
            <span> What is Gis ... التعريف بنظم المعلومات الجغرافية </span>
          </li>
          <li>
            <i class="bi bi-check-circle"></i>
            <span> Projection & Datum ... المساقط & المرجع الجيوديسى </span>
          </li>
          <li>
            <i class="bi bi-check-circle"></i>
            <span> Spetial Data ... أنواع البيانات المكانية </span>
          </li>
          <li>
            <i class="bi bi-check-circle"></i>
            <span> Geoprocessing ... العمليات ومعالجة البيانات </span>
          </li>
          <li>
            <i class="bi bi-check-circle"></i>
            <span> Gis Application ... تطبيقات نظم المعلومات الجغرافية </span>
          </li>
          <li>
            <i class="bi bi-check-circle"></i>
            <span> Gis Users ... مستخدمى نظم المعلومات الجغرافية </span>
          </li>
          <li>
            <i class="bi bi-check-circle"></i>
            <span> Georefrance ... الإرجاع الجغرافى </span>
          </li>
          <li>
            <i class="bi bi-check-circle"></i>
            <span> Creat Database ... انشاء قواعد البيانات الجغرافية </span>
          </li>
          <li>
            <i class="bi bi-check-circle"></i>
            <span> Digitizing ... الرقمنة (الرسم) </span>
          </li>
          <li>
            <i class="bi bi-check-circle"></i>
            <span> Selection ... الاستعلام </span>
          </li>
          <li>
            <i class="bi bi-check-circle"></i>
            <span> Topology ... القواعد الهندسية </span>
          </li>
          <li>
            <i class="bi bi-check-circle"></i> <span> Layout ... الاخراج </span>
          </li>

          <p>المستوى الثانى :</p>

          <li>
            <i class="bi bi-check-circle"></i>
            <span> Gis Advanced ... مستوى متقدم فى نظم معلومات جغرافية </span>
          </li>
          <li>
            <i class="bi bi-check-circle"></i>
            <span> الجزء الاول ... إنتاج البيانات المكانية الدقيقة </span>
          </li>
          <li>
            <i class="bi bi-check-circle"></i>
            <span> Advande Editing ... التعديل الاحترافى </span>
          </li>
          <li>
            <i class="bi bi-check-circle"></i>
            <span> Network ... الشبكات </span>
          </li>
          <li>
            <i class="bi bi-check-circle"></i>
            <span> Building Geocode ... الكود الجغرافى للمبانى </span>
          </li>
          <li>
            <i class="bi bi-check-circle"></i>
            <span> Query ... لغة الاستعلام </span>
          </li>
          <li>
            <i class="bi bi-check-circle"></i>
            <span> Ex-Data _ template schema ... </span>
          </li>
          <li>
            <i class="bi bi-check-circle"></i>
            <span>
              داتا جاهزة للتدريب وبناء هياكل العرض والرسم الثابتى للمشاريع
            </span>
          </li>
          <li>
            <i class="bi bi-check-circle"></i>
            <span> Project ... مشروع نهائى فعلى كشغل سوق العمل </span>
          </li>
          <li>
            <i class="bi bi-check-circle"></i>
            <span> الجزء الثانى أدوات Arc Toolbox </span>
          </li>
          <li>
            <i class="bi bi-check-circle"></i>
            <span> 3D Analyst Tools ... أدوات التحليل ثلاثي الأبعاد </span>
          </li>
          <li>
            <i class="bi bi-check-circle"></i>
            <span> Analysis Tools ... أدوات التحليل </span>
          </li>
          <li>
            <i class="bi bi-check-circle"></i>
            <span> Cartography Tools ... أدوات رسم الخرائط </span>
          </li>
          <li>
            <i class="bi bi-check-circle"></i>
            <span> Conversion tools ... أدوات التحويل </span>
          </li>
          <li>
            <i class="bi bi-check-circle"></i>
            <span>
              Data Interoperability Tools ... أدوات التشغيل البيني للبيانات
            </span>
          </li>
          <li>
            <i class="bi bi-check-circle"></i>
            <span> Data Management Tools ... أدوات إدارة البيانات </span>
          </li>
          <li>
            <i class="bi bi-check-circle"></i>
            <span> Editing Tools ... أدوات التحرير </span>
          </li>
          <li>
            <i class="bi bi-check-circle"></i>
            <span> Geocoding Tools ... أدوات الترميز الجغرافي </span>
          </li>
          <li>
            <i class="bi bi-check-circle"></i>
            <span>
              Geostatistical Analyst Tools ... أدوات التحليل الإحصاء الجغرافي
            </span>
          </li>
          <li>
            <i class="bi bi-check-circle"></i>
            <span> Linear Referencing Tools ... أدوات الإسناد الخطي </span>
          </li>
          <li>
            <i class="bi bi-check-circle"></i>
            <span> Multidimension Tools ... أدوات الأبعاد المتعددة </span>
          </li>
          <li>
            <i class="bi bi-check-circle"></i>
            <span> Network Analyst Tools ... أدوات التحليل الشبكى </span>
          </li>
          <li>
            <i class="bi bi-check-circle"></i>
            <span> Parcel Fabric Tools ... أدوات تمثيل القطع </span>
          </li>
          <li>
            <i class="bi bi-check-circle"></i>
            <span> Schematics Tools ... أدوات التخطيط </span>
          </li>
          <li>
            <i class="bi bi-check-circle"></i>
            <span> Server Tools ... أدوات الخادم </span>
          </li>
          <li>
            <i class="bi bi-check-circle"></i>
            <span>
              Space Time Pattern Mining Tools ... أدوات التعدين لنمط الزمان
              والمكان
            </span>
          </li>
          <li>
            <i class="bi bi-check-circle"></i>
            <span> Spatial Analyst Tools ... أدوات التحليل المكاني </span>
          </li>
          <li>
            <i class="bi bi-check-circle"></i>
            <span> Spatial Statistics Tools ... أدوات الإحصاء المكاني </span>
          </li>
          <li>
            <i class="bi bi-check-circle"></i>
            <span> Tracking Analyst Tools ... أدوات تحليل التتبع </span>
          </li>

          <p>المستوى الثالث :</p>

          <li>
            <i class="bi bi-check-circle"></i>
            <span>
              Gis Application ... تطبيقات فى نظم المعلومات الجغرافية
            </span>
          </li>
          <li>
            <i class="bi bi-check-circle"></i>
            <span> الجزء الاول بناء النماذج Model Builder </span>
          </li>
          <li>
            <i class="bi bi-check-circle"></i>
            <span> What is A Model ... تعريف النمذجة وكيفية إنشاءها </span>
          </li>
          <li>
            <i class="bi bi-check-circle"></i>
            <span> NDVI Model ... نموذج تحليل الغطاء النباتى </span>
          </li>
          <li>
            <i class="bi bi-check-circle"></i>
            <span> DEM Model ... نموذج تحليل الارتفاع الرقمى </span>
          </li>
          <li>
            <i class="bi bi-check-circle"></i>
            <span> IDW Model ... نموذج التحليل العمرانى العمران </span>
          </li>
          <li>
            <i class="bi bi-check-circle"></i>
            <span> ورشة عمل على برنامجى Qgis ... Arc Gis Pro ... </span>
          </li>
          <li>
            <i class="bi bi-check-circle"></i>
            <span>
              الجزء الثانى التحليلات Arc Scene ... شرح واجهة Arc Scene والعمل
              عليها
            </span>
          </li>
          <li>
            <i class="bi bi-check-circle"></i>
            <span> Google Earth ... شرح برنامج Google Earth كاملا </span>
          </li>
          <li>
            <i class="bi bi-check-circle"></i>
            <span> Digital Elevation Model ... نموذج الارتفاع الرقمى </span>
          </li>
          <li>
            <i class="bi bi-check-circle"></i>
            <span> hydrological analysis ... التحليل الهيدرولوجى </span>
          </li>
          <li>
            <i class="bi bi-check-circle"></i>
            <span> Digital Shoreline Analysis System ... تحليل خط الشاطئ </span>
          </li>
          <li>
            <i class="bi bi-check-circle"></i>
            <span> Urban analysis ... التحليل العمرانى </span>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
<!-- /About Section -->
