<section id="services" class="services section">


    <div class="container section-title" data-aos="fade-up">
      <span class="my-shadow">التدريب المهني</span>
      <h2>التدريب المهني</h2>
      <p>متخليش مجموعك يوقفك توصل لوظيفة أحلامك، لو بتحب الصحافة والإعلام 🎥🎤
         وحلمك تبقي صحفي أو مذيع..مكانك معانا في التدريب المهني في الصحافة والإعلام في مركز البناء الدولي ...الفرصة لكل  خريجي ثانوي والأزهر والدبلومات وكمان المعاهد والكليات وبدون التقيد بسنة التخرج👨‍🎓👩‍🎓</p>
    </div>

    <div class="container">

      <div class="row gy-4">

        <div class="col-lg-4 col-md-6 my-box" data-aos="fade-up" data-aos-delay="100">
          <div class="service-item  position-relative inside-box">
            <div class="icon">
              <i class="bi bi-speaker"></i>
            </div>
            <a href="journalist" class="stretched-link">
              <h3>الصحافة والإعلام</h3>
            </a>
            <!-- <p>استقبال وتلقي بيانات العملاء.</p> -->
          </div>
        </div>

        <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
          <div class="service-item position-relative inside-box">
            <div class="icon">
              <i class="bi bi-building"></i>
            </div>
            <a href="toursim" class="stretched-link">
              <h3> قسم السياحه والفنادق</h3>
            </a>
            <!-- <p>مدرس مساعد لاعطاء محاضرات.</p> -->
          </div>
        </div>


        <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
            <div class="service-item position-relative inside-box">
              <div class="icon">
                <i class="bi bi-map"></i>
              </div>
              <a href="map" class="stretched-link">
                <h3> قسم المساحة والخرائط </h3>
              </a>
              <!-- <p>مدرس مساعد لاعطاء محاضرات.</p> -->
            </div>
          </div>

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
            <div class="service-item position-relative inside-box">
              <div class="icon">
                <i class="bi bi-laptop"></i>
              </div>
              <a href="computer" class="stretched-link">
                <h3> قسم الحاسب الآلي </h3>
              </a>
              <!-- <p>مدرس مساعد لاعطاء محاضرات.</p> -->
            </div>
          </div>


          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
            <div class="service-item position-relative inside-box">
              <div class="icon">
                <i class="bi bi-translate"></i>
              </div>
              <a href="language" class="stretched-link">
                <h3> اللغات والترجمة </h3>
              </a>
              <!-- <p>مدرس مساعد لاعطاء محاضرات.</p> -->
            </div>
          </div>

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
            <div class="service-item position-relative inside-box">
              <div class="icon">
                <i class="bi bi-bag"></i>
              </div>
              <a href="manage" class="stretched-link">
                <h3>قسم ( إدارة الأعمال  والسكرتاريه )</h3>
              </a>
              <!-- <p>مدرس مساعد لاعطاء محاضرات.</p> -->
            </div>
          </div>
        

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
            <div class="service-item position-relative inside-box">
              <div class="icon">
                <i class="bi bi-hospital"></i>
              </div>
              <a href="nursing" class="stretched-link">
                <h3> قسم الخدمات الصحيه</h3>
                <h3>تخصص التمريض والاسعاف  - تخصص التحاليل والاشعه</h3>
              </a>
              <!-- <p>مدرس مساعد لاعطاء محاضرات.</p> -->
            </div>
          </div>
        

  
      </div>

    </div>

  </section>