<section id="services" class="services section">


    <div class="container section-title" data-aos="fade-up">
      <span class="my-shadow"> العضويات</span>
      <h2> العضويات</h2>
      <p>عضويات شركة البناء الدولية
        تقدم شركة البناء الدولية للإستثمار والتنمية -  شركة مساهمه مصرية ١٤١٥ إستثمار المنيا عضويات وهي عبارة عن عضوية يحتاج إليها كل شخص من أجل الحصول علي خدمات عديدة ومتنوعة في مختلف جوانب الحياة فإنة يحصل علي إمتيازات في مختلف القطاعات (الصحة - السلع الإستهلاكية - التعليم- الترفية - غيرها ) 
        وذلك يكون عن طريق كارنية العضوية و يوجد أنواع للعضويات وهي ( الماسية - الذهبية - الفضية ) 
        فإن الماسية يكون الحاصل عليها يتمتع يجميع المزايا والخصومات والتخفيضات علي كل الخدمات و ذلك من النجمة الأولي جتي النجمة الخامسة 
        والحاصل علي العضوية الذهبية يتمتع بالامتيازات من النجمة الأولي حتي النجمة الرابعة 
        والحاصل علي العضوية الذهبية يتمتع بالامتيازات من النجمة الأولي حتي النجمة الثالثة 
        وبعد أختيار نوع العضوية يتم أختيار المدة التي سوف يتمتع بها الشخص بالعضوية ومتاح من ( نصف سنه حتي خمس سنين )</p>
    </div>

    <div class="container">

      <div class="row gy-4">


        
        <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
            <div class="service-item position-relative inside-box">
              <div class="icon">
                <i class="bi bi-download"></i>
              </div>
              <a (click)="downloadFile()" class="stretched-link">
                <h3> جدول العضويات </h3>
              </a>
              <p> اضغط للتحميل.</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
            <div class="service-item position-relative inside-box">
              <div class="icon">
                <i class="bi bi-download"></i>
              </div>
              <a (click)="downloadFile2()" class="stretched-link">
                <h3> الاماكن و الخصومات</h3>
              </a>
              <p> اضغط للتحميل.</p>
            </div>
          </div>
  
        
        

  
      </div>

    </div>

  </section>