<section id="about" class="about section">

    <div class="container section-title" data-aos="fade-up">
      <span class="my-shadow">كورس_html  <br></span>
      <h2 class=""> كورس_html  <br></h2>
    </div>

    <div class="container">

      <div class="row gy-4">

        <div class="col-lg-6 order-1 order-lg-2" data-aos="fade-up" data-aos-delay="100">
          <img src="assets/img/about.jpg" class="img-fluid" alt="">
        </div>

        <div class="col-lg-6 order-2 order-lg-1 content" data-aos="fade-up" data-aos-delay="200">
       
          <ul>
           
            <h5>هو بداية تعلم البرمجة وتصميم المواقع هتتعلم فيه:</h5>


            <li><i class="bi bi-check-circle"></i> <span>ما هو تصميم المواقع  </span></li>
            <li><i class="bi bi-check-circle"></i> <span> هتعرف head والاكواد اللى بيتم كتابتها فيها واستخدماتها</span></li>
            <li><i class="bi bi-check-circle"></i> <span> هتعرف كتابة الانواع المختلفة من العناوين والتنسيقات الموجودة فى البرجرفات</span></li>
            <li><i class="bi bi-check-circle"></i> <span> هتتعلم كيف ترفع صورة وفيديو وصوت فى الموقع </span></li>
            <li><i class="bi bi-check-circle"></i> <span> هتتعلم تصميم الجداول والقوائم </span></li>
            <li><i class="bi bi-check-circle"></i> <span> هتتعلم تصميم الاستمارةform بشكل كامل </span></li>
            <li><i class="bi bi-check-circle"></i> <span> هتتعلم ifram </span></li>
            <li><i class="bi bi-check-circle"></i> <span> هتقوم بعمل تصميم موقع بلغة html </span></li><br>
           
            <h6>عليك أن تعلم أن لغة html لغة وصفية، أي فقط تجهيز لصفحة الويب بدون أي نشاط وبدون أي جماليات للصفحة، يمكن أن تشبهها بهيكل الإنسان العظمي ثم لغة ال css لغة تجميلية لما بنيته بال html، أي لتضيف بعض الجماليات على صفحة الويب، الألوان، الخطوط، أشكال الأزرار وغيره الكثير وهي بحر واسع، بالإضافة إلى js، لتشكل منظومة كاملة تسمى بال front-end، لو تمكنت من احتراف ذلك كله، يمكن الاكتفاء بها، كمبرمج فرونت اند، مع حاجتك لاستخدام بعض ال framework التي ستريحك جداً
                 مثل bootstrap 5 وهو يجمع كل من html css js في مكان واحد.</h6><br><br>

            <h6>لكى تبنى موقع يجب ان تتعلم  HTML أولا ثم يتبعه CSS، وأنصح بتلك الطريقة لأن تطوير الويب يكون مفهوما جديدا بالنسبة لك، وأهم شيء في تلك المرحلة هو أن تتعلم "الإنشاء" والهيكلة وإضافة الصور والجداول والكائنات التفاعلية مثل النماذج أو ملفات الفيديو والصوت، وعرض المحتوى واستعمال مختلف أنواع الوسم في HTML.</h6><br><br>

            <h6>وبالمناسبة يمكنك بناء موقع بأكمله باستعمال HTML فقط ودون الحاجة لأي شيء آخر، طبعا لن يكون موقعا عمليا وفعالا بالنظر لما وصل إليه تطوير الويب اليوم، لكن ذلك مثال عن أهمية HTML في تعلم تطوير الويب.</h6><br><br>


            <h6>
                أما CSS فيأتي لاحقا ليكون مكملا جماليا يعني بعزل التنسيق (الألوان والخطوط والأزرار) فتضيفه لصفحة الويب التي صممتها باستعمال HTML لتعريف شكل وتخطيط المحتوى.
                </h6>




    
   
          </ul>


       
        </div>

      </div>

    </div>

  </section><!-- /About Section -->