<section id="about" class="about section">

    <div class="container section-title" data-aos="fade-up">
      <span class="my-shadow"> كورس_AuToCAD <br></span>
      <h2 class=""> كورس_AuToCAD <br></h2>
    <p>هتتعلم كل حاجة عن البرنامج بداية من واجهة البرنامج لحد ما تنفذ مشروع كامل 
        بإيديك
        مش هتخلص كورس غير وانت محترف هتكون علي ايدي خبراء ف المجال
        </p>
    </div>

    <div class="container">

      <div class="row gy-4">

        <div class="col-lg-6 order-1 order-lg-2" data-aos="fade-up" data-aos-delay="100">
          <img src="assets/img/about.jpg" class="img-fluid" alt="">
        </div>

        <div class="col-lg-6 order-2 order-lg-1 content" data-aos="fade-up" data-aos-delay="200">
       
          <ul>
           


           <li><i class="bi bi-check-circle"></i> <span> هتتعرف على واجهة البرنامج وكل الأوامر والقوائم.</span></li>
           <li><i class="bi bi-check-circle"></i> <span> هتتعلم احتراف رسم ( Plans – Elevation –Section– Layout-Details ). </span></li>
           <li><i class="bi bi-check-circle"></i> <span>  غير إنك هتتعلم ازاى تشتغل بالـ X-REF.</span></li>
           <li><i class="bi bi-check-circle"></i> <span> التطبيق بمجموعة Workshop لمجموعة من المشاريع بمختلف استعملاتها.</span></li>


    
   
          </ul>

          <h5>  الكورس متاح للحجز بـ (نظام online _ نظام offline)</h5>

       
        </div>

      </div>

    </div>

  </section><!-- /About Section -->