<section id="about" class="about section">

    <div class="container section-title" data-aos="fade-up">
      <span class="my-shadow">أنشطة المؤسسة<br></span>
      <h2 class="">أنشطة المؤسسة<br></h2>
      <!-- <p>أهــداف وأنشطه المؤسسة التي أنشأت لتحقيقها</p> -->
    </div>

    <div class="container">

      <div class="row gy-4">

        <div class="col-lg-6 order-1 order-lg-2" data-aos="fade-up" data-aos-delay="100">
          <img src="assets/img/about.jpg" class="img-fluid" alt="">
        </div>

        <div class="col-lg-6 order-2 order-lg-1 content" data-aos="fade-up" data-aos-delay="200">
          <h3>أهــداف وأنشطه المؤسسة التي أنشأت لتحقيقها :</h3>
          <!-- <p class="fst-italic">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
            magna aliqua.
          </p> -->
          <ul>
            <li><i class="bi bi-check-circle"></i> <span>تقديم خدمات علمية وتعليمية وثقافيه للمجتمع المحلى .</span></li>
            <li><i class="bi bi-check-circle"></i> <span>المساعدات الإجتماعية المختلفة.</span></li>
            <li><i class="bi bi-check-circle"></i> <span>التنمية الإقتصادية.</span></li>
            <li><i class="bi bi-check-circle"></i> <span>حماية البيئة و المحافظة عليها.</span></li>
            <li><i class="bi bi-check-circle"></i> <span>الخدمات التعليمية.</span></li>
            <li><i class="bi bi-check-circle"></i> <span>الخدمات الصحية.</span></li>
            <li><i class="bi bi-check-circle"></i> <span>الخدمات الثقافية و العلمية و الدينية.</span></li>
            <li><i class="bi bi-check-circle"></i> <span>الدفاع الإجتماعي.</span></li>
            <li><i class="bi bi-check-circle"></i> <span>النشاط الأدبي.</span></li>
            <li><i class="bi bi-check-circle"></i> <span>التنظيم و الإدارة.</span></li>
            <li><i class="bi bi-check-circle"></i> <span>توفير مساعدات ومشروعات اجتماعية.</span></li>
            <li><i class="bi bi-check-circle"></i> <span>توفير رعاية لذوي الاحتياجات الخاصة وكبار السن.</span></li>
            <li><i class="bi bi-check-circle"></i> <span>توفير رعاية للأمومة والطفولة والأسرة. </span></li>
            <li><i class="bi bi-check-circle"></i> <span>انشاء مراكز انتاجية وخدمية وثقافية.</span></li>
            <li><i class="bi bi-check-circle"></i> <span>تحسين البيئة والتنمية المحلية للمجتمع .</span></li>
            <li><i class="bi bi-check-circle"></i> <span>تقديم الإعانة الطبية والغذائية للمرضى والمحتاجين.</span></li>
            <li><i class="bi bi-check-circle"></i> <span>بناء وتنميه منشآت سياحيه.</span></li>
            <li><i class="bi bi-check-circle"></i> <span>الصداقه بين الشعوب.</span></li>
            <li><i class="bi bi-check-circle"></i> <span>حمايه المستهلك.</span></li>
            <li><i class="bi bi-check-circle"></i> <span>حقوق الإنسان.</span></li>
            <li><i class="bi bi-check-circle"></i> <span>إستصلاح الأراضي الصحراوية.</span></li>

            


          </ul>
        </div>

      </div>

    </div>

  </section><!-- /About Section -->