<section id="about" class="about section">

    <div class="container section-title" data-aos="fade-up">
      <span class="my-shadow"> قسم الخدمات الصحيه<br></span>
      <h2 class=""> قسم الخدمات الصحيه<br></h2>
      <p>يعتبر واحد من اهم الاقسام اللي بنقدمها في مركز البناء الدولي 
        لان احنا عندنا مميزات بنتميز بيها عن غيرنا (علشان واخدين الرخصه الدائمة رقم 7 علي مستوي الجمهورية والاول علي مستوي الصعيد )
        </p>
    </div>

    <div class="container">

      <div class="row gy-4">

        <div class="col-lg-6 order-1 order-lg-2" data-aos="fade-up" data-aos-delay="100">
          <img src="assets/img/about.jpg" class="img-fluid" alt="">
        </div>

        <div class="col-lg-6 order-2 order-lg-1 content" data-aos="fade-up" data-aos-delay="200">
          <!-- <h3>أهــداف وأنشطه المؤسسة التي أنشأت لتحقيقها :</h3> -->
          <!-- <p class="fst-italic">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
            magna aliqua.
          </p> -->
          <ul>
            <li><i class="bi bi-check-circle"></i> <span>هتدرب علي ايدي اطباء وممرضين وأساتذة جامعات خبراء.</span></li>
            <li><i class="bi bi-check-circle"></i> <span> تدريب عملي اثناء الدراسة داخل المستشفيات الحكومية والخاصة.</span></li>
            <li><i class="bi bi-check-circle"></i> <span>  تدريب داخل معامل التحاليل المجهزة بجميع الأجهزة .</span></li>
            <li><i class="bi bi-check-circle"></i> <span> بتتعلم كل المصطلحات الطبية واللي بتأهلك للعمل داخل أكبر المستشفيات .</span></li>
            <li><i class="bi bi-check-circle"></i> <span> محور الدراسة الأساسي التدريب العملي .</span></li>
            
          </ul>

        <h4>ومتنساش الشهادات المعتمدة :</h4>

        <ul>
            <li><i class="bi bi-check-circle"></i> <span> هتحصل علي شهادات خبرة وتدريب من المستشفيات اللي هتدرب عملي فيها .</span></li>
            <li><i class="bi bi-check-circle"></i> <span>  هتحصل علي شهادة معتمدة من كبري الجامعات الحكومية .</span></li>
            <li><i class="bi bi-check-circle"></i> <span>  التدعيم بالكورسات عشان تعرف تواكب سوق العمل .</span></li>

            
            
          </ul>

        </div>

      </div>

    </div>

  </section><!-- /About Section -->