<section id="about" class="about section">

    <div class="container section-title" data-aos="fade-up">
      <span class="my-shadow"> دبلومة تصميم الجرافيك <br></span>
      <h2 class=""> دبلومة تصميم الجرافيك <br></h2>
    <p>
        في البناء بتدرب وبتتعلم علي أيدي خبراء وناس في المجال من سنين كتير
        وبتتأهل فعلا لسوق العمل مش مجرد كورس وخلاص
        دبلومة الجرافيك عندنا من الصفر و لحد الاحتراف
        مع نسبة خصم و عروض مش هتتكرر 
        </p>
    </div>

    <div class="container">

      <div class="row gy-4">

        <div class="col-lg-6 order-1 order-lg-2" data-aos="fade-up" data-aos-delay="100">
          <img src="assets/img/about.jpg" class="img-fluid" alt="">
        </div>

        <div class="col-lg-6 order-2 order-lg-1 content" data-aos="fade-up" data-aos-delay="200">
       
          <ul>
           
            <h5>الدبلومة بتنقسم قسمين :</h5>
            <p> المستوى الأول :</p>
            <p>بيتكون من 3 برامج أساسية لازم اي مصمم يكون محترف فيهم و هم : (فوتوشوب – اليستريتور – إنديزاين ) 
                مهمتنا في المستوى دا نخليك محترف فيهم  و تعرف وظيفة كل برنامج و إمتي تستخدمه و الفرق بينهم ، و كمان تعرف كل التفاصيل الاحترافية الخاصة بيه و دي مش اي حد بيقولها 
               </p>

           <li><i class="bi bi-check-circle"></i> <span>بنتعلم كل أنواع التصميمات  زى 
             المطبوعات بفنياتها وتفاصيلها زى :
             </span></li>
           <li><i class="bi bi-check-circle"></i> <span> Business card</span></li>
           <li><i class="bi bi-check-circle"></i> <span> Flyer </span></li>
           <li><i class="bi bi-check-circle"></i> <span> Brochure </span></li>
           <li><i class="bi bi-check-circle"></i> <span>Menu </span></li>
           <li><i class="bi bi-check-circle"></i> <span>Roll up </span></li>
           <li><i class="bi bi-check-circle"></i> <span> Banner</span></li>
           <li><i class="bi bi-check-circle"></i> <span>Book Cover </span></li>
           <li><i class="bi bi-check-circle"></i> <span>Magazine  </span></li>
           <li><i class="bi bi-check-circle"></i> <span>تركيب الصور بشكل احترافى ( Manipulation )   </span></li>
           <li><i class="bi bi-check-circle"></i> <span>الشخصيات الكرتونية . </span></li>
           <li><i class="bi bi-check-circle"></i> <span>تعديل وترميم الصور بشكل احترافى  </span></li>

           <p>المستوي الثاني :</p>
           <p> و دا بقي اللي بيميزنا في Albenaa اننا بنبدأ معاك و مش هنسيبك بس محترف في الـ 3 برامج لا احنا هنخليك كمان مؤهل لسوق العمل عن طريق أننا هنتكلم عن مجالات السوشيال ميديا و الـ Logo Design و الـ Digital Painting </p>
           <li><i class="bi bi-check-circle"></i> <span> ازاي نستلم Brief من العميل  </span></li>
           <li><i class="bi bi-check-circle"></i> <span> المقاسـات المناسبة لكل تصميم  </span></li>
           <li><i class="bi bi-check-circle"></i> <span> المصادر الإحترافية لإبتكار أفكار للتصميم بتاعك </span></li>
           <li><i class="bi bi-check-circle"></i> <span> ازاي تجيب ماتريال للتصميم بتاعك ( صور - Fonts - Vectors - و غيرهم ) بشكل احترافي </span></li>
           <li><i class="bi bi-check-circle"></i> <span> إزاي تبتكر Style خاص بالتصميم بتاعك</span></li>
           <li><i class="bi bi-check-circle"></i> <span> إزاي توحد الـ Campaign  بتاعتك علي الـ Style اللي ابتكرته</span></li>
           <li><i class="bi bi-check-circle"></i> <span> إزاى تقدر تسوق لنفسك فى مجال الديزاين ، و تبدء الشغل كـ فريلانسر. </span></li>
           <li><i class="bi bi-check-circle"></i> <span> محتوى الـ logo Design : </span></li>
           <li><i class="bi bi-check-circle"></i> <span> إزاي تجيب فكرة لـ اللوجو بتاعك </span></li>
           <li><i class="bi bi-check-circle"></i> <span> إزاي تعمل اسكتش للوجو حتي لو مش بتعرف ترسم  </span></li>
           <li><i class="bi bi-check-circle"></i> <span> إزاي تحول الاستكتش لـ ديجيتال علي برنامج الاليستريتور  </span></li>
           <li><i class="bi bi-check-circle"></i> <span>ازاي تستخدم الشبكية و النسبة الذهبية في تصميم اللوجو  </span></li>
           <li><i class="bi bi-check-circle"></i> <span> إزاي تصمم التيبوجرافي الخاص باللوجو بطريقة احترافية  </span></li>
           <li><i class="bi bi-check-circle"></i> <span> ازاي تعمل بريزينتيشن لـ اللوجو علي مواقع المصممين  </span></li>
           <li><i class="bi bi-check-circle"></i> <span> متوفر كمان ورشة للمبتدئين عن اساسيات الرسم و ازاي تستخدم الجرافيك تابلت و هيكون فيها تطبيق عملي هنعمله سوا </span></li>
           <li><i class="bi bi-check-circle"></i> <span> المحاضرين خبرة اكثر من 4 سنوات في مجال التدريس و اكثر من 8 سنوات في سوق العمل في مجال الجرافيك ديزاين  </span></li>
           <li><i class="bi bi-check-circle"></i> <span> المحتوي مسجل ، و ده معناه أنك هتاخد فيديو بعد كل محاضرة تقدر تراجع من خلاله </span></li>

          </ul>


       
        </div>

      </div>

    </div>

  </section><!-- /About Section -->