<section id="about" class="about section">

    <div class="container section-title" data-aos="fade-up">
      <span class="my-shadow"> دبلومةالمكتب الفني <br></span>
      <h2 class=""> دبلومةالمكتب الفني <br></h2>
   <p>ازاي تبقي مهندس مكتب فني شاطر وملم بكل التفاصيل اللي هتحتاجها في شغلك الفترة اللي جايه 
    كورس المكتب الفني أصبح من أهم المجالات المطلوبة في سوق العمل لكن كتير من الطلبة والخريجين مش بيكونوا عارفين أيه مهام مهندس المكتب الفني وأيه المجالات اللي هيشتغلوا فيها وهل الافضل ليهم انهم يشتغلوا في التصميم ولا في هندسة المكتب الفني؟
    </p>
    </div>

    <div class="container">

      <div class="row gy-4">

        <div class="col-lg-6 order-1 order-lg-2" data-aos="fade-up" data-aos-delay="100">
          <img src="assets/img/about.jpg" class="img-fluid" alt="">
        </div>

        <div class="col-lg-6 order-2 order-lg-1 content" data-aos="fade-up" data-aos-delay="200">
       
          <ul>
           

            <li><i class="bi bi-check-circle"></i> <span> هنتعلم كل حاجة عن شغل العطاءات و المناقصات بالتفصيل و أنواعها و إزاي بيتم طرح مناقصات المشاريع و بناءاً على إيه بيتم اختيار شركة المقاولات اللي هتنفذ المشروع و هانعرف إيه هي المستندات اللي بيتم تقديمها في المناقصة و إزاي بيتم إعدادها . </span></li>
            <li><i class="bi bi-check-circle"></i> <span> هنتكلم عن الفرق بين (shop drawings) ،(tender drawings)  ،(As-Built drawings).    </span></li>
            <li><i class="bi bi-check-circle"></i> <span> هنفهم بالظبط دور المالك و الإستشاري و المقاول العام و مقاولين الباطن في المشروع. </span></li>
            <li><i class="bi bi-check-circle"></i> <span> هنعرف يعني إيه مظروف فني و مظروف مالي و هنعرف يعني إيه جلسة استفسارات و جلسة فض مظاريف و جلسة ممارسة ، و ايه  الفرق بين المناقصة المفتوحة و المحدوة و الإسناد المباشر . </span></li>
            <li><i class="bi bi-check-circle"></i> <span> هنعرف يعني إيه تأمين مؤقت و تأمين ابتدائي و تأمين نهائي و خطاب ضمان و وظيفة كل حاجة منهم ، و هانفهم إزاي التعامل المالي بيتم بين الشركات في مجال المقاولات و إزاي بيتم صرف الدفعات المالية و الدفعة المقدمة للمشروع و ازاى المقاول بيضمن حقه فى الدفعة المقدمة للمقاول . </span></li>
            <li><i class="bi bi-check-circle"></i> <span> هنعرف يعني إيه BOQ و إزاي بيتم إعداد مقايسات المشاريع و هنعرف إيه هي المواصفات الفنية للمشروع و الإشتراطات العامة و الخاصة و طريقة اعدادهم . </span></li>
            <li><i class="bi bi-check-circle"></i> <span> هنعرف الفرق بين محضر تسليم الموقع و محضر الإستلام الإبتدائي و محضر الإستلام النهائي و يعني إيه ضمان الأعمال و الضمان العشري للمشروع . </span></li>
            <li><i class="bi bi-check-circle"></i> <span> هنعرف مع بعض ايه هى عقود التشييد و انواعها .  </span></li>
            <li><i class="bi bi-check-circle"></i> <span> • هنعرف يعنى ايه قانون المناقصات والمزايدات 182 لسنة 2018  و اهم ما تناوله.
                و هنتكلم عن اهم بنود قانون البناء الموحد
                 </span></li>
            <li><i class="bi bi-check-circle"></i> <span>هنعرف بالتفصيل عن المراحل الأساسية لمشروع التشييد:
                مرحلة اعداد الدراسات -
                مرحلة إعداد التصميمات و مستندات المشروع -
                مرحلة طرح المشروع -
                مرحلة التعاقد -
                مرحلة التنفيذ -
                مرحلة تسليم المشروع .
                  </span></li>
            <li><i class="bi bi-check-circle"></i> <span> الاكسيل: 
                هنتكلم فيه عن مقدمه عامه فى البرنامج وكيفيه عمل جداول الاكسل للحصر و جداول تفريد الحديد وازاي اقدر أوظف الأكسيل في وأطلع منه أقصي ما يمكن  .
                 </span></li>
            <li><i class="bi bi-check-circle"></i> <span> التسعير: 
 
                هنعرف إزاي نعمل تحليل أسعار لبنود المشروع و إزاي نحسب التكلفة الفعليه لتنفيذ كل بند و إزاي نقدر نسعر المقايسة و نضيف هامش الربح و المصاريف الإدارية و هانعرف الفرق بين الـ Direct Cost و الـ Indirect Cost . 
                 </span></li>
            <li><i class="bi bi-check-circle"></i> <span> هنعرف معدلات الأداء و الإنتاجية للعمالة و المعدات و معدلات الإستهلاك للمواد و الخامات . </span></li>
            <li><i class="bi bi-check-circle"></i> <span> هنعرف ازاى بيتم تعويض المقاولين نتيجه فروق الاسعار و هنعرف يعنى ايه قانون المناقصات والمزايدات 182 لسنة 2018  . </span></li>
            <li><i class="bi bi-check-circle"></i> <span> المستخلصات : 
                هنعرف إيه هي المستخلصات و طريقة عملها بالتفصيل و التطبيق اثناء المحاضرة و عمل مستخلص كامل فى المحاضرة و التعرف على المشاكل اللي ممكن تقابلك أثناء عمل المستخلصات. 
                 </span></li>
            <li><i class="bi bi-check-circle"></i> <span> هنعرف ايه هى الإستقطاعات من المستخلصات و خصم الضرائب و التأمينات . </span></li>
            <li><i class="bi bi-check-circle"></i> <span> حصر الكميات :
                هنعرف الفرق بين الحصر الهندسي والحصر الفعلى وأمتي بستخدمهم.
                </span></li>
            <li><i class="bi bi-check-circle"></i> <span> هنتعلم ازاى بيتم حصر كميات بنود الاعمال المختلفه ( خرسانات / تشطيبات ) مع ادارج هذه البنود فى قوائم الكميات . </span></li>
            <li><i class="bi bi-check-circle"></i> <span> هنعرف يعني أيه الأضافة و الخصم.  </span></li>
            <li><i class="bi bi-check-circle"></i> <span> أزاي أعمل شيت حصر . </span></li>
            <li><i class="bi bi-check-circle"></i> <span> تفريد الحديد للعناصر الأنشائية المختلفة. </span></li>
            <li><i class="bi bi-check-circle"></i> <span> معرفة أماكن الوصلات : 
                قواعد
                -سملات
                -اللبشة
                -الأعمدة
                -الكمرات
                -الفلات سلاب
                -السوليد سلاب
                -السلالم
                 </span></li>
            <li><i class="bi bi-check-circle"></i> <span> كمان هنتعلم ازاى نقلل نسبه الهالك من الحديد باستخدام برنامج  Cutting Optimization. </span></li>
            <li><i class="bi bi-check-circle"></i> <span> البرامج المستخدمة والتى سيتم التطبيق بها : 
                Excel , AutoCad , Cutting optimiazation , Autorebarو الـ AutoCad Structure Detailing.
                 </span></li>

                 <h5>و في أخر الكورس هيتم التطبيق على مشروع فعلي اثناء الشرح و التطبيق.</h5>

   
          </ul>


       
        </div>

      </div>

    </div>

  </section><!-- /About Section -->