    <!-- ======= Constructions Section ======= -->
    <section id="constructions" class="constructions">
        <div class="container" data-aos="fade-up">
  
            <div class="container section-title" data-aos="fade-up">
                <span class="my-shadow">المجلة</span>
                <h2>المجلة</h2>
              </div>
  
          <div class="row gy-4">
  
            <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
              <div class="card-item">
                <div class="row">
                  <div class="col-xl-5">
                    <div class="card-bg" style="background-image: url(assets/img/team/team-3.jpg);"></div>
                  </div>
                  <div class="col-xl-7 d-flex align-items-center">
                    <div class="card-body">
                      <h4 class="card-title">Eligendi omnis sunt veritatis.</h4>
                      <p>Fuga in dolorum et iste et culpa. Commodi possimus nesciunt modi voluptatem placeat deleniti adipisci. Cum delectus doloribus non veritatis. Officia temporibus illo magnam. Dolor eos et.</p>
                    </div>
                  </div>
                </div>
              </div>
            </div><!-- End Card Item -->
  
           
  
        
  
            <div class="col-lg-6" data-aos="fade-up" data-aos-delay="400">
              <div class="card-item">
                <div class="row">
                  <div class="col-xl-5">
                    <div class="card-bg" style="background-image: url(assets/img/team/team-3.jpg);"></div>
                  </div>
                  <div class="col-xl-7 d-flex align-items-center">
                    <div class="card-body">
                      <h4 class="card-title">Expedita voluptas ut ut nesciunt</h4>
                      <p>Aut est quidem doloremque voluptatem magnam quis excepturi vero quia. Eum eos doloremque architecto illo at beatae dolore. Fugiat suscipit et sint ratione dolores. Aut aliquid ea dolores libero nobis.</p>
                    </div>
                  </div>
                </div>
              </div>
            </div><!-- End Card Item -->
  
          </div>
  
        </div>
      </section>