<section id="about" class="about section">

    <div class="container section-title" data-aos="fade-up">
      <span class="my-shadow"> كورس الاسعافات الاوليه <br></span>
      <h2 class=""> كورس الاسعافات الاوليه <br></h2>
      <p>هتتعليم ع الاجهزة المساحية زى الميزان والتوتال وهتنزل عملي وتشتغل ع الاجهزة بنفسك</p>
    </div>

    <div class="container">

      <div class="row gy-4">

        <div class="col-lg-6 order-1 order-lg-2" data-aos="fade-up" data-aos-delay="100">
          <img src="assets/img/about.jpg" class="img-fluid" alt="">
        </div>

        <div class="col-lg-6 order-2 order-lg-1 content" data-aos="fade-up" data-aos-delay="200">
       
          <ul>
           

           <h5 class="mb-3"> المحاضرات النظرية :</h5>

           <li><i class="bi bi-check-circle"></i> <span> الكسور والجبائر  </span></li>
           <li><i class="bi bi-check-circle"></i> <span> خلع المفاصل  </span></li>
           <li><i class="bi bi-check-circle"></i> <span>  الحروق وعضة الصقيع  </span></li>
           <li><i class="bi bi-check-circle"></i> <span> الجروح والنزيف الداخلي  </span></li>
           <li><i class="bi bi-check-circle"></i> <span> التسمم الغذائي والتسمم بالغاز  </span></li>
           <li><i class="bi bi-check-circle"></i> <span> التسمم بجرعة زائدة </span></li>
           <li><i class="bi bi-check-circle"></i> <span> الإغماء ووضع الافاقة </span></li>
           <li><i class="bi bi-check-circle"></i> <span> الأزمة القلبية </span></li>

           <h5 class="mb-3">التدريب العملي :</h5>


           <li><i class="bi bi-check-circle"></i> <span> الإنعاش القلبي الرئوي CPR </span></li>
           <li><i class="bi bi-check-circle"></i> <span> قياس الضغط والنبض والتنفس ودرجة الحرارة  </span></li>
           <li><i class="bi bi-check-circle"></i> <span> الحقن العضلي والوريدي </span></li>
           <li><i class="bi bi-check-circle"></i> <span> اختبار الحساسية </span></li>
           <li><i class="bi bi-check-circle"></i> <span> كيفية سحب العينات  </span></li>


</ul>


          

       
        </div>

      </div>

    </div>

  </section><!-- /About Section -->