<section id="about" class="about section">

    <div class="container section-title" data-aos="fade-up">
      <span class="my-shadow">كورس اسكراتش <br></span>
      <h2 class=""> كورس اسكراتش<br></h2>
      <p>كتير من اولياء الامور بقوا حابين يشوفوا اولادهم متميزين ومش عاوزين يرسخوا ف اذهانهم فكره انك لازم تطلع دكتور او مهندس واي حاجه غير كده تبقي فاشل ومش بتفهم بس دلوقتي الفكره دي اتغيرت وف ناس بقت تحب تشوف ولادها مختلفه عن الباقي او يتمنوا يشفوهم بيدرسوا الحاجه اللي حابنها وبالتالي هيكونوا متمزين فيها </p>
      <p>دلوقتي الاطفال كلها متعلقه بالتكنولوجيا وخصوصا الالعاب الالكترونيه 
        ليه منفتحش قدامهم فرصه انهم يدرسوا ف الحاجه المتعلقين بيها 
        علشان كده احنا هنعلمهم البرمجه عن طريق برنامج اسكراتش و هو برنامج مخصص لتعليم الاطفال البرمجه
        </p>
    </div>

    <div class="container">

      <div class="row gy-4">

        <div class="col-lg-6 order-1 order-lg-2" data-aos="fade-up" data-aos-delay="100">
          <img src="assets/img/about.jpg" class="img-fluid" alt="">
        </div>

        <div class="col-lg-6 order-2 order-lg-1 content" data-aos="fade-up" data-aos-delay="200">
       
          <ul>
           
            <h5>  مميزات_سكراتش:</h5>


            <li><i class="bi bi-check-circle"></i> <span> يدعم اللغة العربية والإنجليزية. </span></li>
            <li><i class="bi bi-check-circle"></i> <span> تعليم الأطفال لغات برمجية كثيرة مهمة لهم . </span></li>
            <li><i class="bi bi-check-circle"></i> <span> توفير بيئة مميزة من الألعاب والقصص الرسومية للأطفال.  </span></li>
            <li><i class="bi bi-check-circle"></i> <span> تنمية الإبداع عند الأطفال،  والرفع من سقف مهاراتهم المختلفة . </span></li>
            <li><i class="bi bi-check-circle"></i> <span> يتناسب برنامج سكراتش مع كافة الفئات العمرية المستخدمة له. </span></li>
            <li><i class="bi bi-check-circle"></i> <span> يدعم أكثر من لغة،ومن أهمها اللغة العربية.  </span></li>
            <li><i class="bi bi-check-circle"></i> <span> يوفر محتوى مرئيا ومسموعا كبيرا بشكل مجاني للمستخدم . </span></li>
            <li><i class="bi bi-check-circle"></i> <span> تقليل الصعوبات التي توفرها لغات البرمجة.  </span></li>
            <li><i class="bi bi-check-circle"></i> <span> التعلم المبكر والمبسط لأنواع كثيرة من لغات البرمجة. </span></li>
         


           
        <h5>المشاريع والمستويات التطبيقيةلبرنامج_سكراتش:</h5>

        <li><i class="bi bi-check-circle"></i> <span> المستوى الأول :  
            التحكم في حركة الكائنات
             </span></li>
        <li><i class="bi bi-check-circle"></i> <span> المستوى الثاني : 
            تغيير مظاهر الكائنات.
             </span></li>
        <li><i class="bi bi-check-circle"></i> <span> المستوى  الثالث : 
            إعداد لعبة تفاعلية.
             </span></li>
        <li><i class="bi bi-check-circle"></i> <span> المستوى الرابع : 
            إعداد حوار بين كائنين.
             </span></li>

<h5>مدة الكورس : ٨ محاضرات يومين اسبوعيا</h5>
<h5>المدرب المهندسة : رفيدة </h5>

    
   
          </ul>


       
        </div>

      </div>

    </div>

  </section><!-- /About Section -->