<section id="about" class="about section">

    <div class="container section-title" data-aos="fade-up">
      <span class="my-shadow"> كورس الهندسة الكهربائية للمواقع الإنشائية والمباني <br></span>
      <h2 class=""> كورس الهندسة الكهربائية للمواقع الإنشائية والمباني <br></h2>
   
    </div>

    <div class="container">

      <div class="row gy-4">

        <div class="col-lg-6 order-1 order-lg-2" data-aos="fade-up" data-aos-delay="100">
          <img src="assets/img/about.jpg" class="img-fluid" alt="">
        </div>

        <div class="col-lg-6 order-2 order-lg-1 content" data-aos="fade-up" data-aos-delay="200">
       
          <ul>
           
            <h6> محتوي الكورس :</h6>

            <li><i class="bi bi-check-circle"></i> <span> التعريف بأطراف المشروع وكيفية التنسيق بينها </span></li>
            <li><i class="bi bi-check-circle"></i> <span> خطوات التصميم للمشروع الكهربي ومتطلباته </span></li>
            <li><i class="bi bi-check-circle"></i> <span> المعدات الاساسية في التركيبات الكهربائية </span></li>
            <li><i class="bi bi-check-circle"></i> <span>   شبكات الجهد المتوسط </span></li>
            <li><i class="bi bi-check-circle"></i> <span>    المحولات </span></li>
            <li><i class="bi bi-check-circle"></i> <span>    مولدات الطوارئ </span></li>
            <li><i class="bi bi-check-circle"></i> <span>    لوحات التوزيع الكهربائية </span></li>
            <li><i class="bi bi-check-circle"></i> <span>    الكابلات والموصلات الكهربائية </span></li>
            <li><i class="bi bi-check-circle"></i> <span>    اجهزة الحماية الكهربائية </span></li>
            <li><i class="bi bi-check-circle"></i> <span> كيفية قراءة المخططات الكهربائية وطريقة تطبيقها </span></li>
            <li><i class="bi bi-check-circle"></i> <span> تقدير الاحمال الكهربائية </span></li>
            <li><i class="bi bi-check-circle"></i> <span> تصميم لوحات وشبكات التوزيع والدوائر الفرعية </span></li>
            <li><i class="bi bi-check-circle"></i> <span>    تغذية اللوحات العمومية </span></li>
            <li><i class="bi bi-check-circle"></i> <span>    نماذج تصميمية </span></li>
            <li><i class="bi bi-check-circle"></i> <span> نظم الاضاءة الكهربائية  </span></li>
            <li><i class="bi bi-check-circle"></i> <span>    علم الإضاءة </span></li>
            <li><i class="bi bi-check-circle"></i> <span>    كميات ووحدات الإضاءة الأساسية </span></li>
            <li><i class="bi bi-check-circle"></i> <span>    حسابات شدة الإضاءة </span></li>     
            <li><i class="bi bi-check-circle"></i> <span> نظم التأريض  </span></li>
            <li><i class="bi bi-check-circle"></i> <span> اساسيات التأريض واهميته </span></li>
            <li><i class="bi bi-check-circle"></i> <span> مكونات نظام التأريض </span></li>     
            <li><i class="bi bi-check-circle"></i> <span> حساب قيمة المقاومة الارضية  </span></li>
            <li><i class="bi bi-check-circle"></i> <span> التأريض في المباني </span></li>
            <li><i class="bi bi-check-circle"></i> <span>نظم الحماية من البرق والصواعق </span></li>     
            <li><i class="bi bi-check-circle"></i> <span> ️كيفية إستلام الاعمال الكهربائية</span></li>
            <li><i class="bi bi-check-circle"></i> <span> معاينة الاعمال الكهربائية</span></li>
            <li><i class="bi bi-check-circle"></i> <span>  الإختبارات الكهربائية </span></li>
            <li><i class="bi bi-check-circle"></i> <span>نماذج لقوائم الإستلام </span></li>



         
            <h5>المدرب :المهندس محمد شعبان</h5>
    
   
          </ul>


       
        </div>

      </div>

    </div>

  </section><!-- /About Section -->