
<section id="hero">

  <div id="carouselExampleAutoplaying" class="carousel slide hero-container" data-bs-ride="carousel">
  
    <div class="carousel-inner">

      <div class="carousel-item active">
        <img src="../../../assets/img/cover3imgcopy.jpeg" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>إيماناً منا بما قاموا به الأجداد وعلى الطريق الذي إنتهجوه الآباء
          </h5>
          <h5>                اخذنا على عاتقنا نحن الأبناء مسيرة الأجداد والآباء معاً
          </h5>
          <h5>فلولا أنتم ما كنا هنا. لهذا نحن هنا لنغير العالم معا؛ احد
            الابناء</h5>
      </div>
      </div>
      <div class="carousel-item ">
        <img src="../../../assets/img/cover1img.jpeg" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>إيماناً منا بما قاموا به الأجداد وعلى الطريق الذي إنتهجوه الآباء
          </h5>
          <h5>                اخذنا على عاتقنا نحن الأبناء مسيرة الأجداد والآباء معاً
          </h5>
          <h5>فلولا أنتم ما كنا هنا. لهذا نحن هنا لنغير العالم معا؛ احد
            الابناء</h5>
      </div>
      </div>

      <div class="carousel-item ">
        <img src="../../../assets/img/cover4img..jpeg" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>إيماناً منا بما قاموا به الأجداد وعلى الطريق الذي إنتهجوه الآباء
          </h5>
          <h5>                اخذنا على عاتقنا نحن الأبناء مسيرة الأجداد والآباء معاً
          </h5>
          <h5>فلولا أنتم ما كنا هنا. لهذا نحن هنا لنغير العالم معا؛ احد
            الابناء</h5>
      </div>
      </div>
      <div class="carousel-item">
        <img src="../../../assets/img/cover2img..jpeg" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>إيماناً منا بما قاموا به الأجداد وعلى الطريق الذي إنتهجوه الآباء
          </h5>
          <h5>                اخذنا على عاتقنا نحن الأبناء مسيرة الأجداد والآباء معاً
          </h5>
          <h5>فلولا أنتم ما كنا هنا. لهذا نحن هنا لنغير العالم معا؛ احد
            الابناء</h5>
      </div>
      </div>
    
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true">
        <i class="bi bi-caret-left"></i>
      </span>
      <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true">
        <i class="bi bi-caret-right"></i>

      </span>
      <span class="visually-hidden">Next
      </span>
  </button>
  </div>
  
  </section>

<section id="services" class="services section">
  <div class="container">
    <div class="row gy-4">
      <div class="col-lg-4 col-md-6 my-box" data-aos="fade-up" data-aos-delay="100">
        <div class="service-item position-relative inside-box">
          <div class="icon">
            <i class="bi bi-bag"></i>
          </div>
          <a href="#" class="stretched-link">
            <h2>رؤيتنا</h2>
          </a>
          <h6>
            في إطار رؤية القيادة السياسية فخامة معالي السيد رئيس الجمهورية والتي
            توالي اهتماماً كبيراً بملف (التنمية المستدامة ). و الخطة
            الإستراتيجية التي تتبناها جميع الجهات والهيئات التنفيذية و التي
            تعتمد على الشراكة وتضافر الجهود بين الجهاز الحكومي و كافة قطاعات
            المجتمع المدني من شركات و مؤسسات و جمعيات و أحزاب و نقابات و مراكز
            التدريب المهني لتنفيذ هذه الإستراتيجية لتحقيق أهداف التنمية
            المستدامة رؤية مصر 2030. وإلتزاماً منا بمسئوليتنا القومية و إتباعاً
            منا لتلك الخطى وتحت شعار ( العمل – البناء – المجد ) تتوجه كل انشطتنا
            لتحقيق أهداف التنمية المستدامة رؤية مصر 2030.
          </h6>
        </div>
      </div>

      <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
        <div class="service-item position-relative inside-box">
          <div class="icon">
            <i class="bi bi-bag"></i>
          </div>
          <a href="#" class="stretched-link">
            <h2>رسالتنا</h2>
          </a>
          <h6>
            أخذت الخطة الإستراتيجية للشركة في كافة قطاعتها علي عاتقها هذه
            المسئولية و التي حملتها منذ أكثر من عشرون عاماً أن نكون دائما في
            الصداره والمقدمه ودائماً نطمح لما هو افضل في كافة قطاعات و أنشطة
            الشركة.
          </h6>
        </div>
      </div>

      <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
        <div class="service-item position-relative inside-box">
          <div class="icon">
            <i class="bi bi-bag"></i>
          </div>
          <a href="#" class="stretched-link">
            <h2>التأسيس</h2>
          </a>
          <h6>
            شركة البناء الدولية لللإستثمار و التنمية شركة مساهمة مصرية تأسست
            بموجب قرار تأسيس رقم 45 / ت م وذلك طبقا لاحكام القانون رقم 159 لسنة
            1981م وتحت رقم 1415 سجل تجاري إستثمار المنيا.
          </h6>
        </div>
      </div>

      <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
        <div class="service-item position-relative inside-box">
          <div class="icon">
            <i class="bi bi-bag"></i>
          </div>
          <a href="#" class="stretched-link">
            <h2>القطاعات و الأنشطة</h2>
          </a>
          <h6>
            قطاع الإستثمار و التعاون الدولي و الإقليمي و التنمية المحلية قطاع
            الإنشاءات و المقاولات العامة – شركة البناء الدولية للإنشاءات و
            المقاولات العامة و أعمال المساحة. قطاع التدريب – مركز البناء الدولي
            للدراسات المتطورة والتدريب قطاع العمل الأهلي و المجتمعي والتنموي
            لخدمة وتنمية المجتمع – مؤسسة البنـــــــاء المشهرة برقم 223 لسنة
            2022م بوزارة التضامن الإجتماعي - إدارة بندر المنيا الإجتماعية.
          </h6>
        </div>
      </div>

      <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
        <div class="service-item position-relative inside-box">
          <div class="icon">
            <i class="bi bi-bag"></i>
          </div>
          <a href="#" class="stretched-link">
            <h2>شعارنا</h2>
          </a>
          <h6>العمل – البناء – المجد</h6>
          <h6>البناء معاً نبني أجيال المستقبل</h6>
        </div>
      </div>
    </div>
  </div>
</section>