


<section id="contact" class="contact section-bg" >

    <div class="container section-title" data-aos="fade-up">
      <span class="my-shadow">شكاوي و مقترحات</span>
      <h2 class="">شكاوي و مقترحات</h2>
      <!-- <p>شركة البناء الدولية للإستثمار و التنمية شركة مساهمة مصرية #الإستثمار_في_حب_مصر🇪🇬</p> -->
    </div>
    <div class="container" data-aos="fade-up" data-aos-delay="100">

      <div class="row gy-4">

        <div class="col-lg-6 my-bg" >
          <div class="info-item d-flex flex-column justify-content-center align-items-center inside-box address" data-aos="fade-up" data-aos-delay="200">
            <i class="bi bi-geo-alt"></i>
            <h3>العنوان</h3>
            <p>شارع سعد زغلول ( المحطة ) - بجوار البريد المصري - برج الأندلس ( أ ) - الدور الاول علوي اداري,المنياو مصر.</p>
          </div>
        </div><!-- End Info Item -->

        <div class="col-lg-3 col-md-6 my-bg">
          <div class="info-item d-flex flex-column justify-content-center align-items-center inside-box" data-aos="fade-up" data-aos-delay="300">
            <i class="bi bi-telephone"></i>
            <h3>بيانات الاتصال</h3>
            <p>201090963631+</p>
          </div>
        </div><!-- End Info Item -->

        <div class="col-lg-3 col-md-6 my-bg">
          <div class="info-item d-flex flex-column justify-content-center align-items-center inside-box" data-aos="fade-up" data-aos-delay="400">
            <i class="bi bi-envelope"></i>
            <h3>البريد الالكتروني</h3>
            <p>Albenaa.con@gmail.com</p>
          </div>
        </div><!-- End Info Item -->

      </div>

      <div class="row gy-4 mt-1">
        <div class="col-lg-6" data-aos="fade-up" data-aos-delay="300">
            <img src="../../../../../assets/img/proplems2.png" width="500" height="300" >
        </div><!-- End Google Maps -->

        <div class="col-lg-6">
          <form (ngSubmit)="submitForm()" class="php-email-form" data-aos="fade-up" data-aos-delay="400">
            <div class="row gy-4">

              <div class="col-md-6">
                <input type="text" name="name" class="form-control" [(ngModel)]="formData.name" placeholder="الاسم" required="">
              </div>

              <div class="col-md-6 ">
                <input type="email" class="form-control" name="email" [(ngModel)]="formData.email" placeholder="البريد الالكتروني" required="">
              </div>

              <div class="col-md-12">
                <input type="text" class="form-control" name="subject" [(ngModel)]="formData.subject" placeholder="الموضوع" required="">
              </div>

              <div class="col-md-12">
                <textarea class="form-control" name="message" rows="6" [(ngModel)]="formData.description" placeholder="الرسالة" required=""></textarea>
              </div>

              <div class="col-md-12 text-center">
               

                <button type="submit">ارسال</button>
              </div>

            </div>
          </form>
        </div>
      </div>

    </div>

  </section>


  
