<section id="vision" class="vision section">
    <div class="container">
        <h3 class="text-decoration-underline" >المقاولات العامة</h3>

        <div class="col-lg-8" id="mkalat">
            <div>هندسة البناء الإنشائية مدفوعة في المقام الأول بالتلاعب الخلاق للمواد
                والأشكال والأفكار الرياضية والعلمية الأساسية لتحقيق غاية تلبي متطلباتها الوظيفية وهي آمنة من الناحية الهيكلية عند إخضاعها لكافة الأحمال التي يمكن توقعها بشكل معقول. وهذا يختلف اختلافاً رائعاً عن التصميم المعماري، الذي يحركه التلاعب الخلاق بالمواد والأشكال والكتلة والفضاء 
                والحجم والملمس والضوء لتحقيق غاية جمالية وعملية وفنية في كثير من الأحيان.
           </div>
            <div>
               عادة ما يكون المهندس المعماري هو المصمم الرئيسي في المباني،
                مع مهندس هيكلي إنشائي كمستشار فرعي. تعتمد الدرجة التي يقود بها كل من 
                التخصصين التصميم بشكل كبير على نوع المنشاءة. هنالك العديد من المنشاءات البسيطة من الناحية الإنشائية 
                تقاد من قبل المهندس المعماري، مثل مباني المكاتب متعددة الطوابق ومبادي الإسكان، في حين أن الهياكل
                 الأخرى، مثل هياكل الشد والمنشاءات القشرية والشبكات تعتمد بشكل كبير على شكلها لقوتها، وقد يكون
                 للهندسة الإنشائية أهمية أكبر التأثير على الشكل، وبالتالي الجمالية، مقارنة بالهندسة المعمارية.
            </div>

            <div>
                يجب أن يضمن التصميم الإنشائي للمبنى أن يكون المبنى قادرًا على 
                الوقوف بأمان وقادرًا على العمل دون أي انحرافات مفرطة أو حركات قد تتعب العناصر الهيكلية أو تشققها
                 أو فشل التركيبات أو التوصيلات أو الحواجز أو التأثير على راحة مستخدمي المنشاءة. و يجب أن يوضح في 
                الحساب الحركات والقوى الناتجة من درجة الحرارة والشقوق والأحمال المفترضة. كما يجب أن يضمن أن يكون
                 التصميم قابلا للتنفيذ عمليا ضمن درجة التحمل المقبولة للمواد. كما يجب أن تسمح للهندسة بالعمل، وخدمات 
                البناء لتناسب داخل المبنى والوظيفة (تكييف الهواء، التهوية، مستخلص الدخان، الكهرباء، الإضاءة، إلخ).
                 يمكن أن يكون التصميم الإنشائي للمبنى الحديث معقدًا للغاية، وغالبًا ما يتطلب فريقًا كبيرًا لإكماله.
            </div>

            <h3 class="text-decoration-underline ">أعمال المكتب الفني : </h3>
            <div>
                نعتمد في مؤسسة البناء للمقاولات العامه 
                واعمال المساحه والتدريب على كوادر فنية ذو خبرة عالية كلا
                 فى تخصصه بما يخدم كل قسم من اقسام المؤسسة. حيث يقوم المكتب بعمل 
                التصميمات المعمارية لكافة
                 المشروعات السكنية والتصميمات المعماريه للمشروعات التجارية
                 والتصميمات الإنشائية وعمل تصاميم المخططات العمرانية والإشراف
                 على تنفيذ . و للمؤسسة سابقة طيبة جدا بفضل الله فى التصاميم المعماريه
                 للمشاريع مع الأفراد والمكاتب والشركات بمصر والمملكة العربية السعودية.
            </div>

            <h3 class="text-decoration-underline " >أعمال التصميم : </h3>
            <div id="tasmem">
                هي عملية التكوين والابتكار ,أي جمع عناصر من البيئة ووضعها
                 في تكوين معين لإعطاء شئ له وظيفة أو مدلول والبعض يفرق بين
                 التكوين والتصميم على أن التكوين جزء من عملية التصميم 
                لأن التصميم يتدخل فيه الفكر الإنساني والخبرات الشخصية .

            </div>

            <h3 class="text-decoration-underline ">التصميم المعماري : </h3>
            <div>
                التصميم المعماري هو عملية عقلية منظمة نستطيع بها التعامل مع أنواع متعددة من المعلومات و إدماجها في مجموعة واحدة من الأفكار و الانتهاء برؤية واضحة لتلك الأفكار. و عادة تظهر هذه الرؤية في شكل رسومات أو جدول زمني و التصميم يتضمن الطريقة و المنتج في نفس الوقت .

            </div>
            <h3 class="text-decoration-underline "> التصميم الداخلي :</h3>
            <div>
                - هو تهيئة المكان لتأدية وظائف بأقل جهد ويشمل هذا الأرضيات والحوائط والأسقف والتجهيزات , كما عرف بأنه ( فن معالجة الفراغ أو المساحة وكافة أبعادها بطريقة تستغل جميع عناصر التصميم على نحو جمالي يساعد على العمل داخل المبنى). - هو عبارة عن التخطيط والابتكار بناء على معطيات معمارية معينه وإخراج هذا التخطيط لحيز الوجود ثم تنفيذه في كافة الأماكن و الفراغات مهما كانت أغراض استخدامها وطابعها باستخدام المواد المختلفة والألوان المناسبة بالتكلفة المناسبة.

            </div>
            <h3 class="text-decoration-underline "> انواع التصميمات:</h3>
            <ol>
                <li>التصميمات المعمارية</li>
                <li> التصميمات الإنشائية</li>
                <li>التصميمات الميكانيكية</li>
                <li>التصميمات الكهربائية</li>
                <li>-تصميمات الأعمال المدنية ( طرق - شبكات مياه وصرف )</li>

            </ol>
            <div>
                ويتم التصميم طبقا للمواصفات والأكواد العالمية المختلفة مثل 
BS8110 - ACI318 - AASHTO - AISC ASD - AISC LFRD - BS5950
UBC 97 - UBC LFRD - Egyptian Codes
وباستخدام احدث برامج الحاسب الالي المستخدمة في التصميم
            </div>


            
         <h3 class="text-decoration-underline "> التصميــــــم المعـــمـــــاري :</h3>

         <div>
            تقوم المؤسسة بكافة أعمال التصميم والتخطيط المعماري بمجموعة من المهندسين المختصين في مجالات العمارة و الكهرباء والميكانيكا، لإخراج مشروع متكامل معمارياً جاهز للتنفيذ بيسر وبما يحقق رغبات أصحاب المشاريع، ومتطلبات جهاز المدينة والدفاع المدني وشركة الكهرباء والجهات الحكومية ذات العلاقة.
وتغطي أعمال التصميم المعماري كافة أنواع المباني من سكنية وفندقية ومتخصصة وتجارية وصناعية، سواء كانت قليلة الأدوار أو متعددة الأدوار أو برجية
         </div>


        <h3 class="text-decoration-underline ">التصميم والتحليل الإنشائي</h3>
        <div>
            يقوم المكتب بكافة أعمال التصميم 
            والتحليل الإنشائي من قبل مهندسين في 
            مجالات التصميم والتحليل الإنشائي. وتغطي الأعمال الإنشائية كافة ماتتعرض له 
            المنشآت من أحمال ساكنة أو متحركة، وزلازل ورياح .وتغطي أعمال التصميم
             الإنشائي كافة أنواع المباني من سكنية وفندقية ومتخصصة وتجارية
             وصناعية، سواء كانت قليلة الأدوار أو متعددة الأدوار أو برجية.
        </div>
        <div>
            أما أعمال التحليل الإنشائي فتغطي كافة أعمال التحقق من سلامة الأعمال الإنشائية وفقاً لمتطلبات الكودات ومقاومة المواد، وصلاحية المواد الإنشائية، ومدى تهتكها وقابليتها للإصلاح بهدف تخفيف الأعباء
المادية على عملاء مكتب الطنبولى  وللمحافظة على استثماراتهم المالية في المشاريع.

        </div>

        <h3 class="text-decoration-underline ">اعداد المشاريع والمكتب الفنى</h3>
        <ol>
            <li>اعداد اللوحات التصميمية</li>
            <li>  اعداد اللوحات التنفيذية Shop Drawings</li> 
            <li> اعادة تصميم المشاريع</li> 
            <li> رفع كفاءة الواجهات والمساقط المعمارية</li> 
            <li>اعداد الجداول الزمنية</li> 
            <li>اعداد كراسة المواصفات والشروط</li>
            <li> اعداد المقايسات</li>
            <li>اعمال الحصر والتقييم</li>
        </ol>



        </div>
    </div>
</section>
          
