#vision{
    margin-top: 80px;
  }
  .vision .content h3 {
    font-size: 1rem;
    font-weight: 700;
   
  }
h3{
    margin-top: 3rem;
    margin-bottom: 30px;
}


  
 
  
  .vision .content ul i {
    font-size: 1rem;
    margin-left: 6px;
    color: #5c9f24;
    
  }
  
  
  .vision .content p:last-child {
    margin-bottom: 0;
  }