<footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6">
            <div class="footer-info">
              <h3>البناء الدولية</h3>
              <p>
                شارع سعد زغلول ( المحطة ) -
                 بجوار البريد المصري - برج الأندلس ( أ ) - الدور الاول علوي اداري  <br>
                 , المنيا, مصر<br><br>
                <strong>هاتف:</strong> 201090963631+<br><br>
                <strong>البريد الالكتروني:</strong> Albenaa.con@gmail.com<br>
              </p>
              <div class="social-links mt-3">
                <a href="https://twitter.com/Albenaa_" class="twitter"><i class="bx bxl-twitter"></i></a>
                <a href="https://www.facebook.com/elbenaa" class="facebook"><i class="bx bxl-facebook"></i></a>
                <a href="https://www.instagram.com/albenaa_edu?igsh=MWt4c2RjeTFubG85MQ==" class="instagram"><i class="bx bxl-instagram"></i></a>
                <a href="https://www.tiktok.com/@albenaa.academy?lang=ar" class="google-plus"><i class="bx bxl-tiktok"></i></a>
                <a href="https://www.youtube.com/channel/UCGUeEAII0NBTfS8_vPMJTGQ" class="linkedin"><i class="bx bxl-youtube"></i></a>
              </div>
            </div>
          </div>


          <div class="col-lg-2 col-md-6 footer-links">
            <h4>روابط مفيدة</h4>
            <ul>
              <li><i class="bx bx-chevron-left"></i> <a routerLink="home">الرئيسية</a></li>
              <li><i class="bx bx-chevron-left"></i> <a routerLink="longTerm"> التدريب المهني</a></li>
              <li><i class="bx bx-chevron-left"></i> <a routerLink="aboutCourse">الكورسات</a></li>
              <li><i class="bx bx-chevron-left"></i> <a routerLink="building-institute">شركه البناء</a></li>
              <li><i class="bx bx-chevron-left"></i> <a routerLink="ConstFoundation">أنشطة المؤسسة</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>خدماتنا</h4>
            <ul>
              <li><i class="bx bx-chevron-left"></i> <a routerLink="contact">أتصل بنا</a></li>
              <li><i class="bx bx-chevron-left"></i> <a routerLink="jobs">وظائف</a></li>
              <li><i class="bx bx-chevron-left"></i> <a routerLink="magazine">المجله</a></li>
              <li><i class="bx bx-chevron-left"></i> <a routerLink="news">الاخبار</a></li>
            </ul>
          </div>

          <div class="col-lg-4 col-md-6 footer-newsletter">

            <h4> موقعنا </h4>

            <div class="col-lg-6" data-aos="fade-up" data-aos-delay="300">
              <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d28156.428379145927!2d30.790957225683595!3d28.09915799999999!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x145b2568599f5181%3A0xe30c54aafde7ac93!2z2YXYsdmD2LIg2KfZhNio2YbYp9ihINin2YTYr9mI2YTZiiDZhNmE2K_Ysdin2LPYp9iqINin2YTZhdiq2LfZiNix2Kkg2YjYp9mE2KrYr9ix2YrYqA!5e0!3m2!1sar!2seg!4v1711597978438!5m2!1sar!2seg" width="400" height="200" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
          </div><!-- End Google Maps -->

          </div>

        </div>
      </div>
    </div>

    <div class="container">
      <div class="copyright">
        حقوق النشر <strong><span>البناء الدولية</span></strong> كل الحقوق محفوظة
      </div>
      
    </div>
  </footer>

