<footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6">
            <div class="footer-info">
              <h3>البناء الدولية</h3>
              <p>
                شارع سعد زغلول ( المحطة ) -
                 بجوار البريد المصري - برج الأندلس ( أ ) - الدور الاول علوي اداري  <br>
                 , المنيا, مصر<br><br>
                <strong>هاتف:</strong> 201090963631+<br><br>
                <strong>البريد الالكتروني:</strong> Albenaa.con@gmail.com<br>
              </p>
              <div class="social-links mt-3">
                <a href="https://twitter.com/Albenaa_" class="twitter"><i class="bx bxl-twitter"></i></a>
                <a href="https://www.facebook.com/elbenaa" class="facebook"><i class="bx bxl-facebook"></i></a>
                <a href="https://www.instagram.com/albenaa_edu?igsh=MWt4c2RjeTFubG85MQ==" class="instagram"><i class="bx bxl-instagram"></i></a>
                <a href="https://www.tiktok.com/@albenaa.academy?lang=ar" class="google-plus"><i class="bx bxl-tiktok"></i></a>
                <a href="https://www.youtube.com/channel/UCGUeEAII0NBTfS8_vPMJTGQ" class="linkedin"><i class="bx bxl-youtube"></i></a>
              </div>
            </div>
          </div>


          <div class="col-lg-2 col-md-6 footer-links">
            <h4>روابط مفيدة</h4>
            <ul>
              <li><i class="bx bx-chevron-left"></i> <a href="#">الرئيسية</a></li>
              <li><i class="bx bx-chevron-left"></i> <a href="#">معلومات عنا</a></li>
              <li><i class="bx bx-chevron-left"></i> <a href="#">خدمات</a></li>
              <li><i class="bx bx-chevron-left"></i> <a href="#">شروط الخدمة</a></li>
              <li><i class="bx bx-chevron-left"></i> <a href="#">سياسة الخصوصية</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>خدماتنا</h4>
            <ul>
              <li><i class="bx bx-chevron-left"></i> <a routerLink="contact">أتصل بنا</a></li>
              <li><i class="bx bx-chevron-left"></i> <a href="#">Web Development</a></li>
              <li><i class="bx bx-chevron-left"></i> <a href="#">Product Management</a></li>
              <li><i class="bx bx-chevron-left"></i> <a href="#">Marketing</a></li>
              <li><i class="bx bx-chevron-left"></i> <a href="#">Graphic Design</a></li>
            </ul>
          </div>

          <div class="col-lg-4 col-md-6 footer-newsletter">
            <h4> نشرتنا الإخبارية</h4>
            <p>Tamen quem nulla quae legam multos aute sint culpa legam noster magna</p>
            <form action="" method="post">
              <input type="email" name="email"><input type="submit" value="بحث">
            </form>

          </div>

        </div>
      </div>
    </div>

    <div class="container">
      <div class="copyright">
        حقوق النشر <strong><span>البناء الدولية</span></strong> كل الحقوق محفوظة
      </div>
      
    </div>
  </footer>

