<section id="about" class="about section">

    <div class="container section-title" data-aos="fade-up">
      <span class="my-shadow"> قسم الحاسب الآلي  <br></span>
      <h2 class="">قسم الحاسب الآلي <br></h2>
      <p>يعتبر واحد من اهم الاقسام اللي بنقدمها في مركز البناء الدولي 
        لان احنا عندنا مميزات بنتميز بيها عن غيرنا (علشان واخدين الرخصه الدائمة رقم 7 علي مستوي الجمهورية والاول علي مستوي الصعيد )
        </p>
    </div>

    <div class="container">

      <div class="row gy-4">

        <div class="col-lg-6 order-1 order-lg-2" data-aos="fade-up" data-aos-delay="100">
          <img src="assets/img/about.jpg" class="img-fluid" alt="">
        </div>

        <div class="col-lg-6 order-2 order-lg-1 content" data-aos="fade-up" data-aos-delay="200">
       
          <ul>
            <li><i class="bi bi-check-circle"></i> <span>بتدرس علي أيدي مهندسين خبره وأساتذه جامعات .</span></li>
            <li><i class="bi bi-check-circle"></i> <span>التدريب والشغل العملي هو محور الدراسة الأساسي.</span></li>

           <h5>** يتم التدريب في كريتيفا داخل الجامعة :</h5>
           
           <li><i class="bi bi-check-circle"></i> <span> التدريب بيكون عملي في معامل مجهزة  بكل انواع الاجهزه الحديثه.</span></li>
           <li><i class="bi bi-check-circle"></i> <span> بتدرس كل مايختص بعلوم الحاسب من شبكات حاسوب ولغات برمجة وصيانه هاردوير والسوفت وير.</span></li>

          </ul>

        <h4>ومتنساش الشهادات المعتمدة :</h4>

        <ul>
            <li><i class="bi bi-check-circle"></i> <span> شهادات خبره من التدريب العملي لقسم الحاسب الآلي .</span></li>
            <li><i class="bi bi-check-circle"></i> <span>  شهاده بالهاردوير والسوفت وير .</span></li>
            <li><i class="bi bi-check-circle"></i> <span>التدعيم بالكورسات والمنح المعتمدة الخاصة بالحاسب الآلي.</span></li>

            
            
          </ul>

        </div>

      </div>

    </div>

  </section><!-- /About Section -->