<section id="vision" class="vision section">

    <div class="container section-title" data-aos="fade-up">
      <span class="my-shadow">رؤية شركة البناء<br></span>
      <h2 class="">رؤية شركة البناء<br></h2>
    </div>

    <div class="container">

      <div class="row gy-4">

        <!-- <div class="col-lg-6 order-1 order-lg-2" data-aos="fade-up" data-aos-delay="100">
          <img src="assets/img/about.jpg" class="img-fluid" alt="">
        </div> -->

        <div class="col-lg-10 order-2 order-lg-1 content" data-aos="fade-up" data-aos-delay="200">
          <!-- <h3>أهــداف وأنشطه المؤسسة التي أنشأت لتحقيقها :</h3> -->
          <h3>البناء الدولية للإنشاءات والمقاولات العامة و أعمال المساحة
            الإتحاد المصرى لمقاولي التشييد والبناء ( 77277 )
            </h3>
            <h3>كانت بداية نشاط المقاولات يتبنى منهج الدولة في مشروعاتها القومية كمشروع (حياة كريمة)
                </h3>

                <h3>وهذا ما تم تنفيذه في اطار هذا المشروع :</h3>
          <!-- <p class="fst-italic">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
            magna aliqua.
          </p> -->
          <ul>
            <li><i class="bi bi-check-circle"></i> <span><b>مشروع رفع كفاءة مدرسة / الغبايشة للتعليم الاساسي – سيدي سالم بكفر الشيخ</b></span></li>
            <li><i class="bi bi-check-circle"></i> <span><b>مشروع رفع كفاءة مدرسة / العاقولة للتعليم الاساسي  – سيدي سالم بكفر الشيخ</b></span></li>
            <li><i class="bi bi-check-circle"></i> <span><b>مشروع تبطين و تأهيل ترعة دياب بطول 12 كم – هندسة ري شرق ديروط</b></span></li>
            <li><i class="bi bi-check-circle"></i> <span><b>مشروع تبطين و تأهيل ترعة فرج  بطول 1570 متر  – هندسة ري شرق ديروط
                و من سابقة اعمال متنوعة نعرض التالي :</b></span></li>
            <li class="space"><i class="bi bi-check-circle"></i> <span>مشروع انشاء مسجد / الزبير بن العوام – منطقة الشلالات بالاسكندرية .</span></li>
            <li class="space"><i class="bi bi-check-circle"></i> <span>مشروع كمبوند سكني - تنفيذ حفر و ردم و اعمال مساحية بمدينة العلمين الجديدة .</span></li>
            <li class="space"><i class="bi bi-check-circle"></i> <span>الخدمات الثقافية و العلمية و الدينية.</span></li>
            <li class="space"><i class="bi bi-check-circle"></i> <span>مشروع اعمال ( لاندسكيب ) لجزيرة طريق الساحلي بمدينة العلمين الجديدة</span></li>

            


          </ul>
        </div>

      </div>

    </div>

  </section>
